[2020-10-26 19:38] manoja1 commented on #1373
@DvirDukhan We are sending you a new dump. We just fired the query from redis CLI and the pod goes on a CPU Spin and all other client services are getting time out exception
[code]

We can't send any query from CLI or UI or from our service

Here are the charts for resource usage

CPU
<img width="2725" alt="Screen Shot 2020-10-26 at 12 31 42 PM" src="https://user-images.githubusercontent.com/33231

[2020-10-27 06:56] swilly22 commented on #1373
Performing a variable length traversal with depth of 10 on a bidirectional edges `()-[*0..10]-()`
can generate an enormous number of paths, as @DvirDukhan has shared above
[code]
Performing a variable length traversal of length 5 on a direction agnostic edge in your graph will yield 74,211,395 different paths.

Computing all of these paths will take time, cpu will spike and memory will increase,
t

[2020-10-27 09:15] swilly22 commented on #440
#1015

[2020-10-27 15:29] Sceat commented on #1391
Seems fine on my end, thx well done :+1:

[2020-10-27 15:29] #1391 closed

[2020-10-27 17:01] manoja1 commented on #1373
We won't be running these queries in Production. As we mentioned in the original ticket, we have found the graph DB crashing or going on a CPU Spin with certain queries. We have not been able to isolate what specific queries that cause it to crash, we only have the crash log. 

With that said if someone accidentally fires a fatal quey, that takes forever to execute, the only recovery path is to fo

[2020-10-27 18:49] swilly22 commented on #1373
Yes, it is possible to specify a timeout on a query, see [doc](https://oss.redislabs.com/redisgraph/configuration/#query-timeout)

[2020-10-28 01:46] manoja1 commented on #1373
I ran a few simple tests to verify if the timeout is truly timing out the execution in the graph server by running the following in a CLI  and observing the CPU usage

[code]

After triggering the above manually 10 - 20 times I observed while the query is timing out the CPU was steadily rising. I also noticed the graph had crashed once and restarted between these runs

So I decided to run the quer

[2020-10-28 03:56] jrideout commented on #1267
@emin156 We are considering Louvain for our own use case. Is your latest code available somewhere? Maybe we can help get it in a state for a PR.

[2020-10-28 07:08] swilly22 commented on #1373
@manoja1 killing a client "mid-way" is known to cause a crash, @jeffreylovitz issued a [PR](https://github.com/RedisGraph/RedisGraph/pull/1298/) that address this problem awhile ago and I've just merged it.

With regard to the increase in CPU consumption on the tested timeout query, I'll have to look into it.

[2020-10-28 07:56] manoja1 commented on #1373
@swilly22 as I mentioned, I could reproduce the crash from CLI every time when the query had a `timeout` clause and could never make it crash when there was `no timeout`. You have the dataset and test case so please verify if the fix is working.

[2020-10-28 09:58] CatalinAdlerDF commented on #152
Bumping this.

Are there any plans to support working with large datasets that cannot fit into memory; or you just do not want to for whatever reason (cold/hot data)?

Thanks!

[2020-10-28 22:48] avisangray opened #1405 "(error) node alias error when using full text search"
hi
i'm using full text search on the recommended docker container however a query as mentioned in quick start as
CALL db.idx.fulltext.queryNodes('Movie', 'Book') YIELD node AS m
WHERE m.genre = 'Adventure'
RETURN m ORDER BY m.rating
returns
(error) node not defined

while same query as
CALL db.idx.fulltext.queryNodes('Movie', 'Book') YIELD node AS m
RETURN m.rating works fine

[2020-10-29 06:28] swilly22 commented on #1405
Hi @avisangray thank you for reporting!
As a temporary workaround, you can omit `"AS"` and address `node`

[code]

[2020-10-29 13:22] swilly22 opened #1407 "Alias overwrite via procedure call output"
`WITH 1 AS node CALL db.idx.fulltext.queryNodes('Movie', 'Book') YIELD node RETURN node`
`WITH 1 AS m CALL db.idx.fulltext.queryNodes('Movie', 'Book') YIELD node AS m RETURN m`
Both `node` and `m` been override by procedure output.

[2020-10-29 14:00] #1405 closed

[2020-10-29 21:39] jeffreylovitz opened #1409 "Server crash on invalid filter tree"
The following invalid syntax results in a crash rather than a syntax error:
[code]

[2020-10-29 21:39] kenkyl opened #1410 "Incorrect CONTAINS clause causes Redis to crash"
Running the following query has caused my Redis instance (redisgraph docker container, v2.2.7) to crash:

`MATCH (a:Author) WHERE a.name CONTAINS 'Ernest' OR 'Amor' RETURN a`

This requires restarting the docker container.

Example:
![image](https://user-images.githubusercontent.com/18710360/97635219-f5be1a80-1a04-11eb-9cfe-f90c63c6c6d1.png)

Note: I am now aware that the proper syntax for this qu

[2020-10-29 21:41] jeffreylovitz commented on #1409
Dup of #1410

[2020-10-29 21:41] #1409 closed

[2020-10-30 12:37] Sceat opened #1411 "Sidy enterprise testimonial"
@swilly22

We run Redisgraph since some months now and here is our short testimonial at [Sidy.fr](https://sidy.fr)

--
Cyril Morlet - CTO Sidy

*(issue can be closed when read)*

[2020-10-30 14:03] gkorland commented on #1411
@Sceat thanks for the kind word!!!

[2020-10-30 18:26] filipecosta90 opened #1413 "Validate 86 potential issues (Null Dereference, Uninitialized Value, Dead Store) caught by running fbinfer(v1.0.0)"
To run infer within the root project folder:
[code]

Output:
[code]

Exported report: [report.txt](https://github.com/RedisGraph/RedisGraph/files/5466929/report.txt)

Ideally after validating all false positives/fixing real issues we can run this on CI to ensure that no issues are added on PRs.

[2020-11-01 21:06] DvirDukhan opened #1414 "handle short reads from RDB"
return an error and release resources when doing short reads from RDB

[2020-11-02 07:32] swilly22 opened #1415 "Handle failure during RDB loading"
Free resources when failing to decode from RDB.
Let Redis know we're able to handle this situation.

[2020-11-02 08:05] DvirDukhan commented on #1414
closing
Duplicate of #1415

[2020-11-02 08:05] #1414 closed

[2020-11-04 06:03] avifatal commented on #1394
Verified. Thanks

[2020-11-11 09:03] swilly22 opened #1421 "debug mode assert"
Switch from `#define ASSERT assert` to `#define ASSERT RedisModule_Assert`

[2020-11-11 09:10] MeirShpilraien opened #1422 "Change asserts to RedisModule_Assert"
The reason for this is that an assert exists without a crash report using sigabrt (and prints the assert failure message to stdout which is not always available). Using RedisModule_Assert, the entire crash report will be printed to the log file. Notice that this fix https://github.com/redis/redis/commit/f210e197f3b9d0b4a81c6c354296da8f1ddad513 will make sure the crash report will be output even on

[2020-11-11 09:17] #1421 closed

[2020-11-11 09:17] swilly22 commented on #1422
Switch from #define ASSERT assert to #define ASSERT RedisModule_Assert

[2020-11-11 09:27] MeirShpilraien commented on #1422
RedisModule_Assert is available since Redis 6.0.0, if you do not intend to support an older version then this so yes, otherwise you will need to check if RedisModule_Assert is not NULL, if its NULL I would suggest to print the failure manually to the log and exists with segfault to get a full crash report.

[2020-11-11 16:52] banuAndrei99 opened #1423 "Size of a graph"
I am running benchmarks in order to decide what database to use in a production environment and I came across redisgraph which I really like so far, but I can't seem to find the size of my graph after I added a few millions of nodes and edges.
I am doing:
1. `docker run -p 6379:6379 -it --rm redislabs/redisgraph`
2. connect to this redis, create a graph, add a few million nodes and edges
3. run so

[2020-11-11 18:18] swilly22 commented on #1423
Hi, try running [Redis `info memory` command](https://redis.io/commands/info), see `used_memory_human`.

[2020-11-12 08:13] swilly22 commented on #1373
Hi @manoja1,
I've tried reproducing the crash described but wasn't able to, I've tried using different queries and different timeouts
In case you do manage to trigger a crash on our latest version (2.2.8) please provide the crash log.

[2020-11-12 08:53] banuAndrei99 commented on #1423
Thanks, that solves the issue :D

[2020-11-12 08:53] #1423 closed

[2020-11-12 20:36] fire opened #1427 "Does redisgraph have DFS?"
Here is a sample of cypher language solving a problem with DFS.

https://tbgraph.wordpress.com/2019/04/30/depth-first-search-analysis-on-london-tube-network-with-neo4j-graph-algorithms/

[2020-11-12 21:09] jeffreylovitz opened #1428 "RedisGraph crashes on nested traversals in ORDER expressions"
Given the query:
[code]
RedisGraph crashes with the backtrace:
[code]
Cypher does allow for limited traversals in ORDER BY expressions (when all elements are aliased), though I don't see the benefit to supporting this generally.

[2020-11-13 19:19] TensorTom opened #1430 "Can't store JSON data?"
I'm trying to store JSON data under properties. Is this a bad idea? I realize that I could store references to ReJSON keys. Of course less queries is better. It could just be that the library I'm using (pyredisgraph or whatever) isn't escaping strings. Thoughts?

[2020-11-13 20:57] swilly22 commented on #1430
That really depends on when you need to access that JSON data, if you need it in-order to perform filtering then you'll probably should store it within your graph vertices/edges, can you please provide a usage example where escaping isn't performed correctly?
Lastly may I ask for your use-case?
Thanks!

[2020-11-15 10:10] swilly22 commented on #1427
Hi @fire,
RedisGraph doesn't have a DFS procedure, but DFS is used whenever performing variable length traversal, e.g. `()-[*..3]->()`

[2020-11-15 10:12] swilly22 commented on #1427
@fire, May I ask what's the use-case you're looking into?

[2020-11-15 15:13] fire commented on #1427
As defined by https://web.stanford.edu/class/cs227/Lectures/lec16.pdf and http://gki.informatik.uni-freiburg.de/papers/hoeller-etal-hplan19.pdf Hierarchical Task Network planning has an incremental depth first search graph structure.

I was looking at the example from tbgraph posted above and my hypothesis is that I can use the linear algebra formulation that in RedisGraph to solve DFS problems vi

[2020-11-17 04:17] manoja1 commented on #1373
Hi @swilly22, I have verified the fix, it's not crashing anymore. But the increase in CPU consumption with timeout queries is still happening. Are you still looking into it?

[2020-11-17 07:50] swilly22 commented on #1373
Glad to hear there's no crash,
With regard to the CPU usage I would assume it would vary depending on the underline architecture, as such I can't confirm this behavior, I would need to free up some time to really dig deep into this.

[2020-11-17 07:57] banuAndrei99 opened #1433 "Matching both nodes and edges with a single query"
In my use case, the edges have quite a lot of properties and hold important information about some relationships.
I want to fetch all the nodes and edges which have a specific property. Currently I do this in the following way:
Query for nodes: ```MATCH (obj) WHERE obj.type = 'requested_type' RETURN obj```
Query for edges: ```MATCH ()-[obj]->() WHERE obj.type = 'requested_type' RETURN obj```
My WH

[2020-11-17 08:07] swilly22 commented on #1433
There might be several ways to combine your results:

Using the WITH clause
[code]

Using the UNION clause
[code]

[2020-11-17 08:07] swilly22 commented on #1433
May I ask what is your use case?

[2020-11-17 08:23] banuAndrei99 commented on #1433
We are working on an exchange protocol, can't really say more than that regarding our data itself... but I can say the following:

I will use the word `object` to describe a database element, either node or edge.
User goes: "I want all the objects from your database with type "xyz"
Then the users analyses those objects and may do some additional queries like: "objects O1, O2, O3 seemed weird, give

[2020-11-17 10:08] #1071 closed

[2020-11-17 10:11] swilly22 commented on #1285
@jeffreylovitz  see if this issue has been resolved already,
Referencing #1328 here

[2020-11-17 10:39] swilly22 commented on #905
Just a few examples:
[code]

[2020-11-17 11:08] #1410 closed

[2020-11-17 11:50] swilly22 commented on #1433
Sorry I've just realised something, in the first suggested version, because there's no connection between the matched node and the matched edge, the query will return the same set of edges for each found node. (probably not what you want)

As such I'll recommend using the `UNION` version, you can specify different `SKIP` and `LIMIT` on each of the RETURN clauses
`MATCH (n) RETURN n SKIP 1 LIMIT 1

[2020-11-17 11:55] swilly22 commented on #1427
Looking at the `Linear Algebraic Depth-First Search` paper, the algorithm uses a dense vector separated into 3 sections: `Ss, Sp, Su` I believe dense matrices and vectors will be introduce in the next version of `SuiteSparse`

Also for really large graphs it might be problematic allocating huge dense vectors, but I guess that's up to the user, we could implement DFS as a procedure, e.g. `algo.DFS(

[2020-11-17 12:13] banuAndrei99 commented on #1433
Thanks for fast responses :D, that works for me; even if implementing pagination on that won't be the easiest thing, it is doable and does the job

[2020-11-17 12:13] #1433 closed

[2020-11-17 13:38] swilly22 opened #1434 "Set allocation ownership for primitives"
e.g. `SI_LongVal`

[2020-11-17 15:10] gkorland commented on #845
@bionicles please notice RedisGraph is now available on Redis Essentials on some of the sites and getting full coverage in the next few days.

[2020-11-17 15:11] #1037 closed

[2020-11-17 15:16] #114 closed

[2020-11-17 15:18] #79 closed

[2020-11-17 15:19] #181 closed

[2020-11-17 15:21] gkorland commented on #332
ref #380

[2020-11-17 15:23] gkorland commented on #835
@dvir can this be closed?

[2020-11-17 15:35] #423 closed

[2020-11-17 15:36] #441 closed

[2020-11-17 15:37] #628 closed

[2020-11-17 15:40] jeffreylovitz commented on #676
Traversal direction no longer has any performance difference, as we maintain transposed matrices by default.

[2020-11-17 15:40] #676 closed

[2020-11-17 15:41] #713 closed

[2020-11-17 15:43] #738 closed

[2020-11-17 15:44] #817 closed

[2020-11-17 15:45] #834 closed

[2020-11-17 15:52] #841 closed

[2020-11-17 15:52] #962 closed

[2020-11-17 15:53] #1024 closed

[2020-11-17 15:55] jeffreylovitz commented on #1170
Query timeouts are supported as described in https://oss.redislabs.com/redisgraph/configuration/#query-timeout

[2020-11-17 17:28] dvir commented on #835
wrong dvir :D @DvirDukhan

[2020-11-17 18:16] jeffreylovitz opened #1436 "Crash on 0-length traversal"
The root problem in the second query of #1285 can be expressed by the query:
[code]
Which currently triggers the crash:
[code]

[2020-11-17 19:52] #1434 closed

[2020-11-18 06:16] banuAndrei99 opened #1438 "Local persistence"
Sorry if this question is dumb, but I'm quite new to redisgraph and redis in general: I want to assure database persistence and don't know how to do that.
Right now I'm running redisgraph in a docker so clearly there is no persistence there, but there might be the case that I will take it to production eventually and I'm not sure how I am supposed to do that. I've seen that there exists Redis Ente

[2020-11-18 06:50] swilly22 commented on #332
The map datatype isn't supported at the moment.

[2020-11-18 07:53] swilly22 commented on #1438
Defiantly possible, see [here](https://redis.io/topics/persistence)

[2020-11-18 07:56] banuAndrei99 commented on #1438
As always, thanks for a fast response Roi
Have a nice one

[2020-11-18 07:56] #1438 closed

[2020-11-18 08:05] #1428 closed

[2020-11-18 09:06] #483 closed

[2020-11-18 09:07] swilly22 commented on #475
Support for undirected edges been added.

[2020-11-18 09:07] #475 closed

[2020-11-18 11:05] gkorland opened #1439 "Add DBMS Procedures"
db.clearQueryCaches()
db.indexes()
dbms.functions()
dbms.listConfig()
dbms.listQueries()
dbms.procedures()

[2020-11-18 13:10] #57 closed

[2020-11-18 13:21] swilly22 commented on #152
@CatalinAdlerDF, at the moment there's no plan for spilling graphs to disk, we try to take the "Redis approach" on this at the moment, but I can see why one would want to unload some graphs to disk.

[2020-11-18 13:21] #152 closed

[2020-11-18 13:22] swilly22 commented on #239
we do support querying for bidirectional edges.

[2020-11-18 13:22] #239 closed

[2020-11-18 13:25] #285 closed

[2020-11-18 13:26] swilly22 commented on #287
Please see [CentOS dockerfile](https://github.com/RedisGraph/RedisGraph/blob/master/Dockerfile.centos) as a reference

[2020-11-18 13:26] #287 closed

[2020-11-18 13:27] #292 closed

[2020-11-18 13:31] swilly22 commented on #1071
Use GRAPH.RO_QUERY #1364

[2020-11-18 13:32] swilly22 commented on #343
Use `GRAPH.RO_QUERY` #1364

[2020-11-18 13:32] #343 closed

[2020-11-18 13:35] swilly22 commented on #387
My initial thought is no, but it depends on the underline hardware you'll be using.
[See redisgraph sizing calculator](https://redislabs.com/modules/redis-graph/redisgraph-sizing-calculator/)
Graph distribution is something we're still trying to figure out.

[2020-11-18 13:35] #387 closed

[2020-11-18 13:37] swilly22 commented on #420
Please use `GRAPH.RO_QUERY` #1364

[2020-11-18 13:37] #420 closed

[2020-11-18 13:42] #1045 closed

[2020-11-18 13:44] swilly22 commented on #547
Please see [CenOS dockerfile](https://github.com/RedisGraph/RedisGraph/blob/master/Dockerfile.centos) as a reference

[2020-11-18 13:44] #547 closed

[2020-11-18 14:11] #255 closed

[2020-11-18 16:18] #1411 closed

[2020-11-18 16:21] gkorland commented on #1390
@mofywong do you need anymore help?

[2020-11-18 16:37] jeffreylovitz commented on #1286
@erez-work Sorry for the late reply! That is correct.

[2020-11-18 16:38] #1248 closed

[2020-11-18 16:38] #1249 closed

[2020-11-18 16:56] jeffreylovitz opened #1441 "Projection before Cartesian Product causes only 1 result to be returned"
The following queries should produce the same results:
[code]
Instead, the latter produces only a single record.

[2020-11-18 19:46] jeffreylovitz commented on #1115
Hi @victorstewart,

Sorry for the late reply, this slipped through the cracks!

Currently RedisGraph doesn't support binary data, as you noted. This could be changed by extending the SIValue struct as you suggest - we can even make the inner format a Redis string, as that has an encoded length and supports binary blobs.

As you note, you will have problems at the parser level, since Cypher does no

[2020-11-18 20:34] victorstewart commented on #1115
@jeffreylovitz

no worries. I actually ended up writing my own graph database with GraphBLAS lol. I have to do some really specific and complicated real time graph operations on CPU and also subscribe to changes.

It's always a tenth the work to just write your own 2000 lines than to figure out how to weave them into someone else's 50,000 lol. So for a whole bunch of reasons it was the path of lea

[2020-11-18 20:34] #1115 closed

[2020-11-18 20:35] jeffreylovitz commented on #1115
Oh, very cool! Good luck with your project!

[2020-11-18 20:41] jeffreylovitz opened #1443 "Crash on self-referential property assignment"
The following query causes a server crash:
[code]
Ideally, we would emit an error on the CREATE-internal access to `node_0`, but at bare minimum this should not crash.

[2020-11-19 01:45] mofywong commented on #1390
Sorry, I have nothing need you help now, but I busy in work this time, so have no time to verify. I guess it's the version issue.
I close this first and reply you after verify this issue.
Thank you for you help!

[2020-11-19 01:45] #1390 closed

[2020-11-19 06:34] #1362 closed

[2020-11-19 09:23] #1193 closed

[2020-11-19 09:25] swilly22 commented on #1234
We should adopt the same validation and error reporting we have for none aggregated functions.

[2020-11-19 09:28] swilly22 commented on #1259
#1298 resolves this

[2020-11-19 09:28] #1259 closed

[2020-11-19 16:13] jobs-git opened #1445 "Remove GraphBlas gcc 7 hard requirement"

[2020-11-19 17:15] jeffreylovitz commented on #1445
@jobs-git If I recall correctly, GCC 7 _is_ a hard requirement for GraphBLAS compilation. Do you have reason to think that's incorrect?

[2020-11-19 19:11] jobs-git commented on #1445
The requirement reduces the compatibility of RedisGraph on older linuxes. For example, CentOS 7 is on gcc 4.9 while debian 9 is on gcc 6.3.

Unless GraphBLAS uses syscalls that are ONLY available on 4.x-up else it should not require advance GCC versions.

[2020-11-19 19:39] jeffreylovitz commented on #1445
GraphBLAS makes use of Generic and RedisGraph uses atomics, both of which I believe require newer GCC versions. This condition of the CMake target was not modified by the RedisGraph team, so I'm inclined to defer to the default requirement.

[2020-11-21 19:15] skieffer opened #1447 "Can't use `all` predicate in conjunction with other conditions?"
Hi, and thanks for your work! I'm loving RedisGraph as a lightweight alternative to Neo4j.

I'm having a very weird error where the `all()` predicate just seems to stop working as soon as I `AND` it with any other condition. I consulted [the docs](https://oss.redislabs.com/redisgraph/commands/#existential-comprehension-functions) on `all()` but didn't find anything about this.

I'm using the `redi

[2020-11-21 19:43] jeffreylovitz commented on #1447
Hi @skieffer,

Thanks for the detailed report! It was really helpful.

There are no blunders in your logic (which is actually a very cool approach to traversing weighted graphs); this was a bug. It was actually fixed by the recent PR https://github.com/RedisGraph/RedisGraph/pull/1429, though!

We haven't released a numbered version since this PR, but if you switch to the Docker tag `edge` you shou

[2020-11-21 21:55] skieffer commented on #1447
Thanks! I appreciate the quick reply!

Okay, I have tried it in the `edge` image, and indeed it now works. : )

[2020-11-21 21:55] #1447 closed

[2020-11-23 09:41] banuAndrei99 opened #1449 "Can't use graph commands even though it is running in docker"
I am starting a redisgraph in docker with ```docker run -p 6379:6379 -it --rm redislabs/redisgraph``` and then I try to run a simple python example:
[code]
and this fails with:
[code]

Output of ```docker run -p 6379:6379 -it --rm redislabs/redisgraph```:
[code]
OS: `Microsoft Windows [Version 10.0.18362.1198]`
I am quite confused since this worked just fine for me last week.
I've tried running co

[2020-11-23 09:48] gkorland commented on #1449
Are you sure you're connecting the right server? can you please run https://redis.io/commands/module-list?
[code]

[2020-11-23 09:56] banuAndrei99 commented on #1449
Ignore de postgres image plz :D
[code]
After running this I am getting more confident that my code doesn't actually connect to the redis server instantiated in the docker...

[2020-11-23 10:05] banuAndrei99 commented on #1449
I figured it out: I had another `redis-server` process running on my computer
I had to go to task manager and kill it and now it connects to the one in the docker

[2020-11-23 10:05] #1449 closed

[2020-11-23 20:06] gkorland commented on #443
[code]

[2020-11-23 20:32] gkorland commented on #573
ref https://github.com/RedisGraph/RedisGraph/issues/223

[2020-11-23 20:35] gkorland commented on #835
@DvirDukhan it seems to not crash now, is it still relevant?
[code]

[2020-11-23 20:36] DvirDukhan commented on #835
if it is fixed then it is fixed

[2020-11-23 20:36] #835 closed

[2020-11-23 20:57] jeffreylovitz commented on #618
Fixed by #882

[2020-11-23 20:57] #618 closed

[2020-11-24 07:28] swilly22 opened #1452 "Trim leading, trailing white space from query"
`GRAPH.QUERY g "   Create () "` Should become: `GRAPH.QUERY g "Create ()"`
This has the potential of improving cache utilisation.

[2020-11-24 13:17] swilly22 opened #1453 "Block matrices"
Support block representation of GrB_Matrix

[2020-11-25 14:47] jonaskello opened #1455 "count() returns zero rows but should return one row with value 0"
Running this query in neo4j playground and RedisInsight gives diffrent results:

[code]

neo4j playground:
[code]

RedisInsight:

[code]

According to this post I think a row with a value of zero should be returned for this query:
https://neo4j.com/developer/kb/understanding-aggregations-on-zero-rows/

So I guess this could be  a bug in RedisGraph?

[2020-11-25 15:43] gkorland commented on #332
ref https://github.com/RedisGraph/RedisGraph/issues/1366

[2020-11-25 15:44] #332 closed

[2020-11-25 15:50] #557 closed

[2020-11-25 15:57] jeffreylovitz commented on #581
This is now supported:
[code]

[2020-11-25 15:57] #581 closed

[2020-11-25 15:58] gkorland commented on #830
ref #905

[2020-11-25 16:03] filipecosta90 commented on #840
confirmed that this query no longer crashes the ldbc benchmark

[2020-11-25 16:03] #840 closed

[2020-11-25 16:04] jeffreylovitz commented on #715
This is no longer an issue in the bulk loader.

[2020-11-25 16:04] #715 closed

[2020-11-25 18:40] jeffreylovitz commented on #1455
@jonaskello You're right, this is a RedisGraph misbehavior! Thanks for opening this issue, I will add it to our roadmap.

[2020-11-25 18:47] #480 closed

[2020-11-25 18:47] swilly22 commented on #830
Closing as this is a duplicate of #905

[2020-11-25 18:47] #830 closed

[2020-11-26 07:37] #548 closed

[2020-11-26 07:39] #564 closed

[2020-11-26 07:40] swilly22 commented on #564
Support been added.

[2020-11-26 07:42] #748 closed

[2020-11-29 12:37] swilly22 opened #1459 "Disallow CREATE after RETURN"
`RETURN 1 CREATE ()` should emit an error.

[code]

[2020-11-30 21:22] emin156 commented on #1267
Hi Jacob,

Sorry for the late reply,

We are ready to share, besides Louvain we also have 2-3 other algorithms.
Should we get in touch for the next steps ?

Kind regards,

Emin Mjumjunov
Co-founder | CTO

emin@spread.ai<mailto:emin@spread.ai> | +49 170 9370268
spread.ai<http://www.spread.ai/>

[Ein Bild, das Objekt enthält.  Automatisch generierte Beschreibung]

SPREAD GmbH
Greifswalder Straße 208

[2020-12-01 01:43] jeffreylovitz commented on #1267
Hey @emin156,

You can email me at the address in my Github to talk to the RedisGraph team about integrating your work. We'd love to see what you've accomplished!

[2020-12-01 13:37] prvn002 opened #1466 "Incorrect results retrieved when queried indexed data."
I have created a Label with two nodes using redis-cli. Data retrieved is perfect until I create an index on a Property set with int datatype. It returns incorrect and inconsistent results with the index in place.

**Logs below:**

127.0.0.1:6379> GRAPH.QUERY TEST "CREATE (:person {name:'John', age:27})"
1) 1) "Labels added: 1"
   2) "Nodes created: 1"
   3) "Properties set: 2"
   4) "Cached execut

[2020-12-01 13:55] swilly22 commented on #1466
Hi @prvn002,
Which version of RedisGraph are you using?

This is what i'm getting on the `master` branch:

[code]

[2020-12-02 04:51] prvn002 commented on #1466
Hi swilly22,

I'm using Redisgraph v2.2.8, but the issue is seen on other branches as well.

Issue is seen on **IBM Linux machines(s390x)** and not on x86 architectures.

$ uname -m
s390x

[2020-12-02 06:35] swilly22 commented on #1466
I see, I'll have to check how I can get a hold of such machine.

Would you mind sharing your use-case?

[2020-12-02 11:41] prvn002 commented on #1466
I am trying to build and test RedisGraph on IBM Linux(s390x) machine.

**Below are the commands used to reproduce the symptoms:**

sudo yum install cmake m4 automake libtool autoconf python-devel
wget https://www.piumarta.com/software/peg/peg-0.1.18.tar.gz
tar -zxf peg-0.1.18.tar.gz
cd peg-0.1.18
make
make install
cd ../

wget https://download.redis.io/releases/redis-6.0.9.tar.gz
tar -zxf redis-6.

[2020-12-02 12:36] #1422 closed

[2020-12-02 18:46] pierrelambert opened #1472 "Crash when attempting to drop an index"
Hi,

I got Redis with Redisgraph 2.2.8 crashed when attempting to drop an index.

Please find logs attached
[dropinndexbug.log](https://github.com/RedisGraph/RedisGraph/files/5631391/dropinndexbug.log)

[2020-12-03 07:32] swilly22 commented on #1472
@pierrelambert, can you please include steps to re-create this crash?

[2020-12-03 07:35] swilly22 commented on #1466
@prvn002 as the issue seems to be related to indices and these are implement by [RediSearch](https://github.com/RediSearch/RediSearch) to narrow down on the issue, would you please run RediSearch test suite on your architecture and share the results?

[2020-12-03 11:30] pierrelambert commented on #1472
I executed the command : GRAPH.QUERY "graph" "DROP INDEX ON :NODE(prop1,prop2,prop3)"

[2020-12-03 13:37] prvn002 commented on #1466
Hi @swilly22

I have built RediSearch and ran the tests on my machine.

**Tests summary:
40% tests passed, 113 tests failed out of 187**

Attached test results for reference.
[RediSearch_testlog.txt](https://github.com/RedisGraph/RedisGraph/files/5636354/RediSearch_testlog.txt)

[2020-12-03 20:10] swilly22 commented on #1466
Thank you, I'll check in with the Search team.

[2020-12-04 20:54] #1472 closed

[2020-12-05 07:49] hiteshbal91 commented on #633
@swilly22 I also wanted to check for the same to merge the relationship based on some attribute values of relations ship.

GRAPH.QUERY Cars 'MERGE (honda:Cars {id: "c12345"}) MERGE [r1:rider {id: "r12345", via: "uber"}] MERGE (driver1:Person {id: "d12345"}) CREATE (honda)-[r1]->(driver1)'

I have a relationship with the attribute based on which I will identify if that exists or not.

I don't want

[2020-12-06 08:09] dwgeneral commented on #1151
@MickaelAlliel Could I query all nodes with fulltext search keywords ? such as

CALL db.idx.fulltext.queryNodes('*', 'abc')

[2020-12-06 08:13] dwgeneral opened #1479 "not support that queryNodes with multiple nodes with same keywords"
hi, I wanna query 'someKeyWords' on all inserted nodes in redisgraph rather than single node, such as

`CALL db.idx.fulltext.queryNodes('*', 'someKeywords')`

but it's not supported.

[2020-12-07 15:38] bgeesaman opened #1481 "Filter on vertex or edge attributes"
Moving here per request: https://forum.redislabs.com/t/filter-on-property-keys/1044/2

The dataset I'm working with doesn't have entirely consistent or known supporting attributes/properties.  Given the following:
[code]
I'd like to query for attributes that start with `complex_property_name_`

Also, I'd like to be able to query for all the properties of a specific node. e.g.
[code]
Currently, tha

[2020-12-07 15:43] jeffreylovitz commented on #1481
Hi @bgeesaman,

With regard to your first question, we do not support wildcard operators for matching property keys. If you'd care to explain your use case, we might be able to figure out a solution! In general, RedisGraph is intended to handle schema-less data, so inconsistent properties shouldn't be a problem broadly.

To your second question, the notation for accessing properties is:
[code]
The

[2020-12-07 16:05] bgeesaman commented on #1481
Thanks @jeffreylovitz for the quick response!  I was using the syntax from https://s3.amazonaws.com/artifacts.opencypher.org/openCypher9.pdf as inspiration for what to try.

Running:
[code]
Is syntactically correct, but returns no results. :-(

I'd love it if I could get:
[code]
But filtered for specific node types or for a specific node.

The use case is several-fold: Working with Neo4j's UI prev

[2020-12-07 16:29] jeffreylovitz commented on #1481
Thanks, I understand better now!

Your first query won't work because in the line:
`WHERE n.propertyKey IS NOT NULL`
`propertyKey` is interpreted as the literal name of the property, and since that does not exist on any node, every check will evaluate to NULL. It's perfectly fine to query against non-existent properties; they'll just always be retrieved as NULL values.

We don't have a means of pr

[2020-12-07 18:42] jonaskello commented on #1366
I was just about to create a feature request for map type. Glad I did a search first :-). Thank you for working on adding this 👍

[2020-12-08 17:04] bgeesaman commented on #1481
Much appreciate the thorough explanations!  They do, in fact, help me understand some approaches to attack this better.  Thanks!

Couple extra details to help clarify two of the use cases:

- "all possible propertyKeys for this node type" - using `MATCH (n:mynode) RETURN n` and then programmatically merging all the keynames is possible in a client language.  I was hoping this was a query possible

[2020-12-09 14:15] filipecosta90 opened #1484 "Generating a Vectorization Reports on RedisGraph heavy computation or ops within contiguous spaces of memory ( PROFILE builds )"
We've been discussing the vectorization report assessment on other modules and RedisGraph is also a good fit for this type of analysis.
To do changes we first need the reports in a compiler agnostic manner ( or to be more true worded in a compiler aware manner given they have have different flags for it).

[2020-12-10 09:35] Luxxii opened #1486 "Query Length Limit?"
Hi everyone!

Recently I have discovered RedisGraph, while looking for alternatives. It seems to be much faster than neo4j and therefore I want  to apply absurdly large DAGs and test its performance. Since I am new to redis I am not sure whether this issue belongs here (or to [redisgraph-py](https://github.com/RedisGraph/redisgraph-py)).

I generate directed and acyclic property graphs per entry f

[2020-12-10 15:11] jeffreylovitz commented on #1486
Hi @Luxxii,

The RedisGraph query parser is supposed to use a resizable array, but there is currently a flaw in it, so at the moment we're resorting to a fixed-length buffer. If you'd like, you can modify this buffer length by changing the `YY_BUFFER_SIZE` value at:
https://github.com/RedisGraph/RedisGraph/blob/master/src/Makefile#L161
Then running:
[code]
For creating large graphs, however, you'l

[2020-12-10 15:52] ashtul commented on #1466
@prvn002
Can you please run `ctest -VV --output-on-failure -R rstest` and send me the output? These are our `C` unittests.

[2020-12-11 12:43] Luxxii commented on #1486
I increased the limit size and it worked without further problems.  Thanks!

The [bulk loader](https://github.com/redisgraph/redisgraph-bulk-loader) would be an additional step from converting a large database into csv and then would be read again to be added to the redis. Since I am not testing the performance of adding graphs into redis, this would only add a step, maybe even taking longer than

[2020-12-13 23:04] szarnyasg opened #1487 "Aggregation on triangle query return lower value than expected"
I have tried executing the triangle query on a person-knows-person LDBC graph. The CSVs are available at https://gist.github.com/szarnyasg/1057f5a28e42b2e8ab85c5351f872c01.

I load the data with:
[code]

And run the queries from Python:
[code]

The expected output is 120. However, `count(*)`, `count(p1)`, `count(p2)`, and `count(p3)` produce a different outputs, either 17 or 70:
[code]

If I remov

[2020-12-14 07:24] swilly22 commented on #1487
@szarnyasg
This can be a bit confusing I agree, due to our usage of boolean matrices multiple paths between `p1` and `p1` are reduced to just a single path, I assume that if we inspect each one of the 120 triangles and count how many distinct `p1` nodes there are, we would get 17.

An alternative could be:
[code]

[2020-12-14 11:06] szarnyasg commented on #1487
Thanks, this query returns the correct result!

[2020-12-14 15:24] hiteshbal91 opened #1488 "Traverse same relationship from parent to child and child to parent is it possible?"
Hi Team,

I am having a problem statement where nodes have the same relationship but I want to traverse in both ways. Consider the following example.

`GRAPH.QUERY family 'CREATE (gp:Person {name: "GrandParent", gender: "male"})-[r1:parent {relation: "parent"}]->(p: Person  {name: "Parent", gender: "male"})'`
`GRAPH.QUERY family 'CREATE (p1:Person {name: "Parent", gender: "male"})-[:parent {relati

[2020-12-14 15:26] szarnyasg opened #1489 "Exploit masked matrix multiplication for cyclic query parts"
Let's assume the following query:

[code]

The logical query plan for this includes an `ExpandInto` operator for navigating the third `KNOWS` edge into variable `p1` which is already bound.

Suppose the `KNOWS` edge is stored in a symmetric matrix `Knows(pA, pB)`. Then, we can express it with a matrix-matrix multiplication and an element-wise multiplication:

[code]

It is also possible to derive

[2020-12-14 16:02] jeffreylovitz commented on #1488
Hi @hiteshbal91,

Your create queries are going to create 4 nodes, with the `Parent` node duplicated and no path between `GrandParent` and `Child`. To get the correct structure, you can use 1 create query or use a `MATCH...CREATE` construct on the second query.

To get the grandparent node of a child, you can use a query like:
`'MATCH (p1:Person {name: "Child"})<-[:parent*2]-(c:Person)' RETURN p1.

[2020-12-14 16:55] hiteshbal91 commented on #1488
Ok @jeffreylovitz For create my bad need match and create, I will try the above solution.

If you can help me with another query as well if possible https://github.com/RedisGraph/RedisGraph/issues/633#issuecomment-739140895.

[2020-12-14 18:32] jeffreylovitz commented on #633
@hiteshbal91 If I understand your request correctly, the appropriate query would be:
`MERGE (honda:Cars {id: "c12345"}) MERGE (driver1:Person {id: "d12345"}) MERGE (honda)-[r1:rider {id: "r12345", via: "uber"}] ->(driver1)`

If one of the properties on `r1` is allowed to not match, you can `MERGE` just on the mandatory property and `ON MATCH/ON CREATE SET` the other one!

[2020-12-14 19:40] #1392 closed

[2020-12-14 20:19] jeffreylovitz opened #1491 "Server crashes when attempting to update deleted entity."
Running the query:
[code]
Causes a server crash with the backtrace:
[code]

[2020-12-14 20:58] jeffreylovitz opened #1492 "Server crashes on self-referential CREATE query"
Given the query:
[code]
The server crashes with the backtrace:
[code]
Interestingly, the similar query:
[code]
Creates one node with no properties (perhaps due to how the schema is updated?).

[2020-12-14 22:28] jeffreylovitz opened #1493 "Stream reset logic in query with Merge and Cartesian Product causes server crash"
Given the query:

```MERGE (node_0)-[:reltype5]->(:label8) WITH 5 AS a MATCH (node_1), (:label8) MERGE (:label2)```

The server crashes with the backtrace:
[code]

[2020-12-16 05:21] hiteshbal91 commented on #1488
thanks @jeffreylovitz it worked 👍

[2020-12-16 05:21] #1488 closed

[2020-12-16 06:00] hiteshbal91 commented on #633
Hi @jeffreylovitz ,

I did not understand the above one, I will reiterate the request.

"MERGE" command allowed to merge the nodes if that already exists, in the same way If we can merge the relationship as well if it already exists instead of lookup with match and later to create or skip.

 Example, If there is already relationship [r1:rider {id: "r12345", via: "uber"}] between the node (honda:Ca

[2020-12-16 14:59] jeffreylovitz commented on #633
`MERGE` works for relationships precisely the same way that it does for nodes - https://oss.redislabs.com/redisgraph/commands/#merge .

You must still introduce relationships with the `(src)-[edge]->(dest)` syntax, but if the `src` and `dest` aliases have already been introduced in the query, they will be treated as read-only members and only the relationship might or might not be created.

[2020-12-16 15:26] hiteshbal91 commented on #633
@jeffreylovitz It seems like I am missing something. Following is what I have tried

- `GRAPH.QUERY Cars 'MERGE (honda:Cars {id: "c12345"}) MERGE (driver1:Person {id: "d12345"}) CREATE (honda)-[r1:rider {id: "r12345", via: "uber"}]->(driver1)'`

- `GRAPH.QUERY Cars 'MERGE (honda:Cars {id: "c12345"}) MERGE (driver1:Person {id: "d12345"}) CREATE (honda)-[r1:rider {id: "r12345", via: "uber"}]->(drive

[2020-12-16 15:29] jeffreylovitz commented on #633
Replace your `CREATE` with a `MERGE` like so:
[code]

[2020-12-16 17:54] hiteshbal91 commented on #633
Got it @jeffreylovitz worked like a charm 👍

[2020-12-17 09:48] #1491 closed

[2020-12-17 12:42] swilly22 opened #1497 "unoptimised traversal"
[code]

T(T(A)) will through the printing logic off, the operation do operate on the right pattern (e)->(f)

[2020-12-21 00:02] joshdurbin opened #1500 "Add dockerhub builds of arm64 images to CI"
RedisGraph is currently missing arm64 support. It would be good to see this added as more people transition to using arm64 on hardware as a replacement for 32-bit images, particularly as more RAM becomes available on embedded or single board systems.

I do know there's [this closed issue](https://github.com/RedisGraph/RedisGraph/issues/803) the details how to build and construct this image yoursel

[2020-12-21 14:36] cr0hn opened #1501 "Denegation of Service"

[2020-12-21 14:41] cr0hn opened #1502 "DoS (Denial Of Service) Bug"
## Bug impact

Redis Graph crashes and server downs

## Bug explained

It's appear that Redis Graph doesn't processes well list of unknown data types. Typing this in the CLI, server crashes:

[code]

It also crashes with any invalid values in `A`.

## Redis Bug report

=== REDIS BUG REPORT START: Cut & paste starting from here ===
1:M 16 Dec 2020 10:32:43.143 # Redis 6.0.5 crashed by signal: 11
1:

[2020-12-21 14:41] #1501 closed

[2020-12-21 16:57] jeffreylovitz commented on #1502
Hi @cr0hn,

Thanks for the report! This is an issue with the parameter processing logic - you try to access the alias `a`, which has not been introduced at this point. When you say you experienced the same with other invalid values, does that include anything that wasn't an unquoted string?

[2020-12-21 17:31] cr0hn commented on #1502
Hi @jeffreylovitz,

Not really. All of then were unquoted string

[2020-12-21 17:34] jeffreylovitz commented on #1502
Okay! we'll have a fix out shortly.

Unquoted strings will not currently be accepted properly as parameters, since we expect all parameters to resolve to constants, and an unquoted string is interpreted as a variable name.

[2020-12-22 08:18] swilly22 commented on #1500
Hi @joshdurbin, I agree, let me check if the current version of RedisGraph is still ARM compatible.

[2020-12-22 10:00] #1497 closed

[2020-12-22 12:43] swilly22 commented on #1500
@joshdurbin after testing `Ubuntu 18.04 on ARM64v8` running `make` is all that's required, given all prerequisites are installed on the system.

[2020-12-22 16:14] joshdurbin commented on #1500
Yup. I'm able to build things no problems on Rasbian/Raspberry PI OS similar to the build steps here; https://github.com/joshdurbin/redis-graph-commerce-poc/blob/master/load_test_setup.tf which are derived from the build from source step in the project root. The intent of the ticket/issue though was to get this arch building in CI such that I can just pull latest or version x without building it m

[2020-12-22 17:24] SevereOverfl0w opened #1505 "Assertion `QueryGraph_GetEdgeByAlias(qg, alias) == NULL' failed"
* Redis started with `podman run  -p 6379:6379 --rm docker.io/redislabs/redismod`.
* Query was `"MATCH (a:expr) WHERE a.id = 7 CREATE (a)-[r:LIST_HEAD]->(b:expr{col:13,line:15,text:\"assoc\"}),(b)-[r:NEXT]->(c{col:19,line:15,text:\":key\"})"` using the Java RedisGraph library.
* Log at https://gist.github.com/SevereOverfl0w/2c3dacb4d1950250e28a18535bcc6f66

My query is probably invalid :), but cra

[2020-12-22 17:29] jeffreylovitz commented on #1505
Hi @SevereOverfl0w,

The `redismod` image is using an outdated RedisGraph version; this issue does not occur on RedisGraph version 2.2. Can you use the image `redislabs/redisgraph:latest` or `redislabs/redisgraph:edge`?

[2020-12-22 19:40] jeffreylovitz commented on #1479
hi @dwgeneral,

An index is strictly built for one specific label at present, and there is no way to utilize the index without specifying the label. At present, we have no plans to modify that behavior, as it's preferable for most use cases.

If your main intent is to query graphs this way, you can create all nodes with the same label, but this would limit your data modeling options.

[2020-12-22 20:50] jeffreylovitz opened #1506 "Crash on accessing path after eager operation"
The following query results in a server crash when the match succeeds:
[code]
The cause of this is seemingly an attempt to access `e` after it has been freed by the execution of an eager operation. The Valgrind report is:
[code]

[2020-12-23 05:12] raiprabh opened #1507 "Redis Graph creating backup.db and losing in-memory nodes/relationships"
While working with redis graph, I saw that the server is creating backup.db and many times the in memory nodes are lost in the process. I am trying to debug this issue. I wanted to turn off the process which creates the backup.db file. Why is this necessary and where can I turn it off? Here are some logs of the server, even after I have disabled the "save" process (which creates the dump.rdb file)

[2020-12-23 07:06] #1492 closed

[2020-12-23 07:54] #1502 closed

[2020-12-23 07:59] swilly22 commented on #1507
Hi @raiprabh, what do you mean by: ` the in memory nodes are lost` ?
nodes / vertices within a graph object are missing?

[2020-12-23 09:10] raiprabh commented on #1507
Yes exactly.

[2020-12-23 09:11] raiprabh commented on #1507
This happens when a `backup.db` file is generated in the home directory (the directory from where I have run the `redis-server` command with the given redis conf).

[2020-12-23 19:37] swilly22 commented on #1507
I'm not sure what `backup.db` is honestly, looking at your config file the RDB persistency file is `dump.rdb`

[2020-12-23 19:44] swilly22 commented on #1500
I'll have to check if our [CI](https://circleci.com/) has support for ARM.

[2020-12-23 22:33] raiprabh commented on #1507
I password protected my server and not getting this issue anymore. It must have been a network attack since my instance was open for all interfaces.

[2020-12-24 00:38] joshdurbin commented on #1500
Looks like they don't themselves, you have to use one of their self-hosted runners.

See the [release info](https://circleci.com/build-environments/runner/) about it/them.

See [more info](https://circleci.com/docs/2.0/runner-overview/).

If that's something I could contribute to or help with I could run an agent on one of my PI 4s for building things.

[2020-12-24 07:16] #1507 closed

[2020-12-27 08:33] gkorland opened #1510 "GRAPH.CONFIG should be disabled on RAMP"

[2020-12-27 12:34] #1510 closed

[2020-12-28 18:04] ian opened #1513 "Any hope for geo/spatial support?"
Really looking for some sort of spatial index support and basic geo functions (distance, etc).

Just wondering if this is on the radar at all?

[2020-12-30 07:22] swilly22 commented on #1513
Hi @ian, can you please provide additional details on your use-case?
It seems like we'll be able to support 2D geo spatial (lat, long) coordinates

[2020-12-30 14:05] ian commented on #1513
2D lat+lng would totally acceptable for my use case. Just need nodes to be able to be spatial and represented on a map,  without elevation.

Neo4j goes a bit overboard IMO with their support for so many coord systems.  I think you can cover 90% of the cases for spatial with just 2D.

Happy to chat more if it helps move the project forward.

[2020-12-30 17:58] swilly22 commented on #1513
Thanks @ian I'll update here on our progress.

[2021-01-04 09:42] cr0hn commented on #1502
I opened a CVE proposal for this bug:

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-35668

[2021-01-05 11:43] madmac2501 commented on #443
Thanks!

[2021-01-05 11:43] #443 closed

[2021-01-06 07:38] PSK-oss opened #1520 "Is RLTest platform independent"
i have a redis instance(Big endian) and working on RedisGraph/RediSearch, Observed a statement in the test scripts "from RLTest import Env" and commands in the scripts are based on the imported env. But getting many assertion failures while testing.

I have installed RLTest from Github using pip install and I'm not sure whether it is platform independent or not, please advise.

[2021-01-06 07:57] swilly22 commented on #1520
@rafie, can you please advise?

[2021-01-06 09:17] gkorland commented on #1520
@PSK-oss can you please add the errors you get?

[2021-01-06 10:06] PSK-oss commented on #1520
Tried executing one of the pytest(test_ext.py)

* Module 'ft' loaded from /home/RediSearch/src/redisearch.so
* Ready to accept connections
:signal-handler (1609927390) Received SIGTERM scheduling shutdown...
:M 06 Jan 2021 02:03:11.026 # User requested shutdown...
:M 06 Jan 2021 02:03:11.026 # Redis is now ready to exit, bye bye...
['cc', '-shared', '-fPIC', '-o', '/home/RediSearch/src/pytest/libe

[2021-01-06 11:13] rafie commented on #1520
`RLTest` is Python-based, therefore theoretically platform independent. However, one of the Python dependencies (`psutil`) is platform-sensitive. The 'Env' part in `RLTest` is basically a mechanism for starting up and shutting down `redis-server`.
I suggest the following:
1. Using Python 2 with `virtualenv` to install `RLTest`
2. Installing `RLTest` using `bin/getrmpytools` from https://github.com

[2021-01-06 11:31] PSK-oss commented on #1520
I have installed RLTest using the same method(above mentioned step 2)

python -m pip install git+https://github.com/Grokzen/redis-py-cluster.git@master
python -m pip install git+https://github.com/RedisLabsModules/RLTest.git@master
python -m pip install git+https://github.com/RedisLabs/RAMP@master

Can you suggest me how to install RLTest using Python2-virtualenv(Step 1).

[2021-01-06 12:13] rafie commented on #1520
[code]

[2021-01-06 12:21] PSK-oss commented on #1520
Tried installing using venv, but testcase failing with same error.

Failed Tests Summary:
        test_ext:testExt
                ❌  (FAIL):     100 == 1L       test_ext.py:47
Makefile:141: recipe for target 'pytest' failed

Can you pls. confirm is the issue realte

[2021-01-07 11:21] PSK-oss commented on #1520
Can you please check & let me know whether these errors(assertion failures & index related issues) are due to the python-dependency psutil?
Because for installing RLTest i tried all the ways, but getting same issues.

[2021-01-07 11:25] rafie commented on #1520
Please check if your psutil version is 5.8.0.
Most distributions don't currently have a native `python2-psutil` package and pip in able to install psutil without building it, and it should work just fine.
We'll check the specific test, but on the face of it, it works well in our CI, so we'll probably need to dig a little bit deeper on your side.

[2021-01-07 11:33] PSK-oss commented on #1520
Thanks for the update, i have verified the psutil version and it is 5.8.0 only.

[2021-01-11 14:30] adityaarun commented on #13
Is there any ETA on this feature?

[2021-01-12 06:58] swilly22 commented on #13
@adityaarun it will be part of the next upcoming version 2.4, it is scheduled to April 2021

[2021-01-13 07:29] #1506 closed

[2021-01-15 22:19] SherinV opened #1526 "query `IN` list not working after creating index in 2.2.12"
On an indexed node, we have a list property `aliases`. Querying the list used to work in 2.2.8, but not in 2.2.12

returns results.

But, if I create an index on `Person`, the above query doesn't work anymore.

throws error `Type mismatch: expected List but was String`. It works if I drop the index.

Thanks.

[2021-01-16 08:53] swilly22 commented on #1526
@SherinV thank you for reporting, we'll look into it

In addition, consider the following:
[code]

[code]

In which case, one `n` node will have its `v` attribute as an array while in the other it will be a string, in which case RedisGraph should ignore the error and skip that node.

[2021-01-16 18:03] swilly22 opened #1527 "Optimize traversal with no label information"
`MATCH ()-[:R]->(z) RETURN z`
Using `All Node Scan` is wasteful in this situation as many of the nodes might not have an outgoing edge of type `R`

If no `LIMIT` is specified we should project the matrix `R`.

[2021-01-18 07:46] gkorland opened #1528 "Replication should replicate effect"
Replication should replicate effect and not the command

[2021-01-18 10:08] gkorland opened #1529 "Rename thread pool threads"
We should rename the thread pool with less generic name

![image](https://user-images.githubusercontent.com/753206/104901251-cffe3d00-5985-11eb-874b-c9f717396b9e.png)

[2021-01-18 20:22] DvirDukhan opened #1530 "(almost) lock free matrix synchronization"
we can try testing a lock free variant for matrix sync
[code]

[2021-01-20 14:07] CatalinAdlerDF commented on #1312
I see SuiteParse has GPU supoort at least since july 2020, version 5.6.
Should we expect that redisgraph benefits from gpu automatically?

[2021-01-20 15:57] ChrisSandison opened #1533 "Redisearch aliasing of results is returning undefined node error"
Using docker-image version `v2.0.21` and use case fulltext example given here https://oss.redislabs.com/redisgraph/commands/#full-text-indexes

See example below

[code]

[2021-01-20 16:00] jeffreylovitz commented on #1533
Hi @ChrisSandison,

This issue has been fixed on more recent versions of RedisGraph. Can you switch to the Docker tag `2.2.12` or similar?

[2021-01-20 18:58] #1526 closed

[2021-01-20 20:04] ChrisSandison commented on #1533
Hey @jeffreylovitz

Is there plans on backporting this fix? We are running v2.0.10 and this is functional. Additionally, this is an example taken from your documentation.

[2021-01-21 14:32] #404 closed

[2021-01-22 15:58] fabianmurariu opened #1542 "[Question] Debugging intermediate returns"
Not sure if this is the right place to post this but here it goes.

Is there a way to obtain an exact execution plan for the matrix algebra multiplications? Especially how you combine expressions for results in the middle of the path? Explicit debug information with every matrix would be splendid.

I'm trying to understand the approach RedisGraph takes with intermediate returns, this is described

[2021-01-23 17:52] swilly22 commented on #1542
HI @fabianmurariu,
Please see `test_algebraic_expression.cpp`
In addition if you're interested in compiling the source you can call `AlgebraicExpression_PrintTree` or `AlgebraicExpression_Print`
on each constructed algebraic expression, for example in `op_conditional_traverse.c` and `op_expand_into.c`

[2021-01-23 18:19] fabianmurariu commented on #1542
Thanks for that, I was just printing some stuff

[code]

my simple query is (a:A)-[:X]->(b:B)-[:Y]-(c:C) return c
aXB and bYC are the 2 parts I'm very confused about how you mix them together and how you perform the scan but I can print stuff out now so I'm getting there

[2021-01-23 20:48] fabianmurariu commented on #1542
Graph (the usual diamond kind):
`GRAPH.QUERY MotoGP "create (a1:A)-[:X]->(b1:B)-[:Y]->(c1:C),(a1)-[:X]->(b2:B)-[:W]->(c1);" `
Query (take the top path)
`GRAPH.QUERY MotoGP "match (a:A)-[:X]->(b:B)-[:Y]->(c:C) return b;"`

where does the leftmost matrix of the 2nd expression come from? (b * Y * C)

[code]

the full output?
expr1 easy A*X*B you get b1 and b2 over at row 0 in A
[code]

expr 2 (what i

[2021-01-26 08:35] jonaskello commented on #1366
In neo4j playground this code works:

[code]

However this does currently not work in redisgraph. Will this work once map datatype is implemented?

[2021-01-26 13:21] jeffreylovitz commented on #1366
@jonaskello,

RedisGraph uses a different syntax for parameters than Neo4j:
[code]
Using this syntax or any language-specific client should make your query work.

[2021-01-26 13:43] jonaskello commented on #1366
@jeffreylovitz The problem I have is not really with the parameters, that was just to illustrate how I would like to use it. The problem is using a string to index the node in the `RETURN` clause. I tried this simple query in the redisgraph part of redisinsight:

[code]
It seems the `a` cannot be indexed with a string, thus my conclusion was that it has to do with support for map types but perhaps

[2021-01-26 13:51] jeffreylovitz commented on #1366
@jonaskello Sorry for the confusion!

Support for the map type has been introduced on the master branch and the Docker tag `edge`; if you are running RedisGraph from one of these places your syntax should work.

The map datatype has not been included in a new version yet.

[2021-01-26 14:23] jonaskello commented on #1366
@jeffreylovitz Oh, I did not know it was already available on edge :-). I tried it and can confirm it works with my example above! Thank you!

[2021-01-26 15:17] nirelbaz opened #1546 "toJSON() support when using map projection"
Hi there,
I'm Using docker-image with the **edge** tag and playing around with the new map projection feature (which feels great).
One thing that could make it even a stronger solution for us is if you could add a way to receive the result as a JSON string.

Something like this will be great:
[code]

Which will response like so:
`{ "fullName": "Nir Elbaz", "department": "tech", "email": "nir@compa

[2021-01-27 07:16] #1366 closed

[2021-01-27 10:48] nirelbaz opened #1547 "Add all-properties selector to map projection"
Hey, I'm Using docker-image with the edge tag. And I come across the following error while trying to use the `.*` selector:
`(error) RedisGraph does not currently support all properties projection`

My query looks something like this:
[code]

Will be great if we could have it supported.

[2021-01-27 21:42] jeffreylovitz opened #1549 "Creation of array property with non-primitive, non-array members"
The following query succeeds:
[code]
It should fail with the error:
"Property values can only be of primitive types or arrays thereof"

[2021-01-27 21:44] jeffreylovitz opened #1550 "Node creation committed after run-time error"
The following query appropriately emits an error:
[code]

However, it still creates the empty node `a`.

[2021-01-27 21:46] jeffreylovitz opened #1551 "Regression in SET property map logic"
As the map datatype has been introduced, but handling for map updates has not, the following query and a number of its variants currently cause server crashes:
[code]

[2021-01-29 12:07] fabianmurariu commented on #1542
@swilly22 I'm still a bit confused as to how you do your filtering, in my head I would expect some operation to transform the result of the  expansion a*X*b into a diagonal selection matrix where all the outputs in b are relocated onto the diagonal and the next expansion uses that as a filter. So instead of (0, 1) and (1, 3) I was expecting (1, 1) and (3, 3).

I raised this issue on the GraphBLAS

[2021-01-29 12:07] #1542 closed

[2021-02-01 18:37] EbuOgden opened #1559 "Different Results Between Neo4j and RedisGraph with the Same Data and Queries - Friend Recommendations"
Hello, we were looking for graph database solutions and came across with neo4j and redisgraph. Based on the benchmark performance differences we were planning to go with RedisGraph but unfortunately we cannot get this use case work for us.

We have users and we recommend friends to our users based on their relation with others. (Friends of friend)

We tried one directional and bi-directional relat

[2021-02-01 20:48] Dsolnik opened #1560 "Expose synchronous graph deletions as a launch-time configuration"
I ran into a bug running Redis Graph where I would delete a graph and then override the key using redisgraph-bulk-loader and the memory would leak.

Exposing this option would allow me to delete the graph without having to worry about overriding the key before it gets deleted.

Also thank you so much for being so responsive on the forums! (Related thread [here](https://forum.redislabs.com/t/redis-

[2021-02-02 07:22] swilly22 commented on #1560
we shouldn't leak when performing async deletion and reusing the key, @jeffreylovitz can you look into it?

[2021-02-02 07:46] swilly22 commented on #1559
Hi @EbuOgden, when performing traversals RedisGraph can revisit visited nodes, this is why `gokhan` is showing up in your first result-set, to avoid it simply require that `me <> friendOfFriend`

[code]

[2021-02-02 15:26] songbing0520 commented on #425
I am also expecting RedisGraph can support the partitioning feature.

[2021-02-02 18:36] MohamedRagabAnas opened #1563 "The 'graphdata' datastructure"
Hi there,
I'm interested in the project and wanna understand more about the internals of RedisGraph, and looks for the feasibility of the interoperability between Redis-Streams  and Redis-Graph modules.

Thus, I'm wondering on what native data structures of Redis you have built your own data structure of the 'graphdata' that is shown up when we run ```TYPE myGraph``` command.
- Is the graph inside

[2021-02-03 08:45] swilly22 commented on #1563
Hi @MohamedRagabAnas,
Thank you for showing interest in the project,
RedisGraph uses its own data structures to represent a graph, node and edge objects. start exploring [here](https://github.com/RedisGraph/RedisGraph/blob/master/src/graph/graph.h)

For additional information see [redisgraph-internals](https://www.slideshare.net/RedisLabs/redisgraph-internals-roi-lipman) and [Deep Dive into RedisG

[2021-02-03 14:32] MohamedRagabAnas commented on #1563
Thanks!

[2021-02-03 14:32] #1563 closed

[2021-02-03 15:26] CatalinAdlerDF commented on #1559
I wonder what's the perf impact of node revisiting in redis; in neo4j it was night and day for us, but unfortunately we had to use graph algos to avoid it, cypher lacked this.

@EbuOgden what has been your experience with regards to perf between the two engines?
My team is also researching the matter.

[2021-02-03 19:25] swilly22 commented on #1559
I believe it's a trade off between keeping track after visited nodes and the overhead of traversing through a node you've already visited,
Depending on the query and the graph topology one can be "cheaper" than the other.

[2021-02-04 20:38] EbuOgden commented on #1559
Thanks for the reply and answer @swilly22, highly appreciate it!

@CatalinAdlerDF For now we went with Neo4j. Unfortunately I cannot say too much about performance differences based on the current dataset we have. But on the other hand, by knowing the performance of Redis, I can easily say that it would be incredibly fast and their benchmark results show that. Would it be a robust solution in the

[2021-02-05 19:26] CatalinAdlerDF commented on #1559
Thanks for the feedback @EbuOgden !
We're also looking into graph engine selection and we've narrowed it down to tiger/neo and redis.
My hopes are that redisgraph is mature enough for prod usage and cherry on the cake to be GPU support.

Having the ability to get significant more perf by just using a GPU is priceless; but I am not clear if this works with the current version or if I have to do any

[2021-02-08 07:57] songbing0520 commented on #425
do you have a guideline document to introduce how to configure the Redis Cluster to replicate RedisGraph data between multiple nodes?

[2021-02-08 07:59] songbing0520 commented on #425
do you have a guideline document to introduce how to configure the Redis Cluster to replicate RedisGraph data between multiple nodes?

[2021-02-08 08:56] haljin commented on #1357
Hi, is there any news on this? The workaround has been working for us for a while but we have encountered a couple surprise redis deaths in K8s, which I suspect may be another deadlock., possibly even the same one as this occurring in a different query. Unfortunately it seems pretty tough to reproduce this time around :(

[2021-02-08 18:49] swilly22 commented on #425
Incase you're using the open source Redis cluster, you can create one which has one primary and multiple replicas see [here](https://redis.io/topics/cluster-tutorial)

[2021-02-08 18:51] swilly22 commented on #1357
@haljin can you please provide us with your queries and maybe a dataset, I would like to run it from our end and hopefully re-create the issue, thanks!

[2021-02-08 19:07] haljin commented on #1357
Are the examples above not enough or have they been fixed (and if so in which release, as we are on 2.2.9 right now)?

[2021-02-08 19:17] haljin commented on #1357
The new lock up happens quite rarely, so it's a little hard for me to isolate what is happening - we do run quite a few different queries. I do however suspect a query that does DELETE and MERGE in a UNION as this was the problem before.

[2021-02-09 00:54] songbing0520 commented on #425
Thank you for the reply, I followed the guideline to complete the configuration, but I am not somewhere have the issue, when I tried to test failover, i shut down one master node from the cluster(3 masters and 3 slaves), the RedisInsight cannot load it, but looks shut down one slave node,  RedisInsight still can load the graph. BTW, i check the RDB file, i don't see the RDB file replicated between

[2021-02-09 02:34] #1559 closed

[2021-02-10 09:54] swilly22 commented on #1357
@haljin would you mind sharing that DELETE,MERGE,UNION query?

[2021-02-10 13:59] haljin commented on #1357
Sure, here's the query in an anonymized version:

[code]

[2021-02-10 20:05] swilly22 opened #1570 "fulltext index creation isn't replicated"

[2021-02-11 09:54] PradeepKumar1994 opened #1571 "Manipulating array property values"
Hi,

Help wanted.

I was experimenting with arrays as property value. I have been doing the following:

`  graph.query Test "MATCH (u:Person) Create (:Person {address:['something1', 'something2']})" `

To able to do this:

What I am looking for is able to ### append or add more to elements to the [array operations](https://oss.redislabs.com/redisgraph/commands/#list-functions). For instance I want

[2021-02-11 12:47] swilly22 commented on #1571
To add elements to an array simply use addition e.g. `RETURN 1 + [2,3]` or `RETURN [2,3] + 4`
Removing an element from an isn't supported, you'll have to reconstruct the array.

[2021-02-11 21:06] PradeepKumar1994 commented on #1571
Thank you. :)

After experimenting I've realized return with the addition would just return but not make changes to value in the redisgraph, for instance, a redis list when you do  `rpush mylist helllo` which will reflect the changes to the list.

Perhaps, I've miscommunicated the first time. Similarly, like to redis list what I am looking more of where I can update the list for a particular prope

[2021-02-11 21:23] laurentdroin commented on #1571
Pradeep, would the following work for you?

`graph.query Test "MATCH (u:Person) set u.address = u.address + ['something3', 'something4']"`

It gives:

`graph.query Test "match (n) return n"
1) 1) "n"
2) 1) 1) 1) 1) "id"
            2) (integer) 0
         2) 1) "labels"
            2) 1) "Person"
         3) 1) "properties"
            2) 1) 1) "address"
                  2) "[something1, somethin

[2021-02-13 08:02] #1570 closed

[2021-02-13 17:52] swilly22 commented on #1486
Resolved by #1572

[2021-02-13 17:52] #1486 closed

[2021-02-13 17:53] swilly22 commented on #760
Resolved by #1572

[2021-02-13 17:53] #760 closed

[2021-02-14 23:08] PradeepKumar1994 commented on #1571
Thank you, Laurent. :)

[2021-02-14 23:09] #1571 closed

[2021-02-16 13:02] swilly22 commented on #1234
[code]

[2021-02-16 13:02] #1234 closed

[2021-02-20 21:24] kornha opened #1584 "Questions on Full Text Search/Documentation Improvements/Possible Bugs"
Hello,

Great work and I appreciate your efforts on this. We are exploring RedisGraph's search capabilities.
I have found this [page](https://oss.redislabs.com/redisgraph/commands/#full-text-indexes) which appears to be the sole source of documentation on full text search of Redis Graph.

1: Say I do,

`GRAPH.QUERY DEMO_GRAPH "CALL db.idx.fulltext.createNodeIndex('Movie', 'title')"
`
But I don't j

[2021-02-21 08:41] swilly22 commented on #1584
Hi @kornha,
Each index is associated with a single node label, in-order to index both `Movie` and `Series` you'll have to create two indices:
[code]

To query both agnostically let me suggest:
[code]

As far as I'm aware the word `the` is considered a stop word which isn't indexed.

@MeirShpilraien can you please help answering this question?

Lastly RedisGraph can only index strings when using fu

[2021-02-22 01:14] kornha commented on #1584
Thank you so much, this is incredibly useful.
On the subject of Arrays, do you have a recommendation for how we might search in them (ie., combine them into a string?) or is that not possible yet?

[2021-02-22 07:50] MeirShpilraien commented on #1584
@kornha the full-text search is done by RediSearch, you can see the full query syntax here: https://oss.redislabs.com/redisearch/Query_Syntax/
Specifically for LD you can use `#Powe#`

[2021-02-22 08:18] swilly22 commented on #1584
@kornha depending on rather or not you intend to search these arrays via an index, if so you'll have to concatenate them into strings, otherwise (not using an index) you can use the `IN` operator to search for elements within arrays, e.g. `...WHERE 1 IN [1,2,3]...`

[2021-02-22 13:36] jeffreylovitz opened #1585 "Don't emit any results on run-time errors"

[2021-02-22 14:51] kornha commented on #1584
Ok great makes sense.
Might be a nice feature to include in the roadmap -- indexing arrays of strings, but I can workaround it in the meanwhile.
One last question, I promise. Let's say I want a different weight for 'title' and 'description' fields..

1-Eg., If I have an exact match I want to rank it first, followed by prefix match, followed by fuzzy match. Is there a way to do this?

2-Furthermore

[2021-02-22 18:53] swilly22 commented on #1584
RediSearch do allows to set weights on indexed fields, but we don't expose that via the Graph interface, I'm not sure if Cypher defines means to specify weights.

Not sure I understand your second question regarding ordering, can you please elaborate?

[2021-02-23 08:44] swilly22 opened #1588 "avoid writer starvation"
https://man7.org/linux/man-pages/man3/pthread_rwlockattr_setkind_np.3.html
pthread default `PTHREAD_RWLOCK_PREFER_READER_NP` which means writers will starve, (need to verify it)
we would probably want to set `PTHREAD_RWLOCK_PREFER_WRITER_NONRECURSIVE_NP`

[2021-02-23 08:47] swilly22 opened #1589 "default timeout"
Introduce default query timeout for READ & WRITE queries, default should be `UNLIMITED`, runtime configurable.
Please note: writers can be aborted prior to acquiring the WRITE lock, after which we can't (at the moment) abort.

[2021-02-24 09:43] #1585 closed

[2021-02-24 14:02] kornha commented on #1584
OK, will look into working in my own weighting. Appreciate your responses!

[2021-02-25 12:26] #1513 closed

[2021-02-25 12:28] swilly22 commented on #1513
@ian the data-point data structure had just been merged to our `master` branch, it should be available on `dockerhub` `edge` image in a few hours, may I ask which client library are you using to query RedisGraph?

[2021-02-25 12:29] ian commented on #1513
@swilly22 This is great news!

Currently I am on "redisgraph.js": "^2.2.1"

Does the above PR add access to geospatial functions (distance, nearby) as well as the point type?

[2021-02-25 12:53] ian commented on #1513
@swilly22 I just saw the documentation for distance().

[2021-02-25 15:18] kornha commented on #1584
One more question :) let's say I have 2 movies, one titled 'The Lord of the Rings' and another titled 'ABC' but has, in its description, the word 'ring'.

So if I create an index like this:
`GRAPH.QUERY DEMO_GRAPH "CALL db.idx.fulltext.createNodeIndex('Movie', 'title', 'description')"`
And search the word ring:
`CALL db.idx.fulltext.queryNodes('Movie', 'ring') YIELD node RETURN node.title"`
Is the

[2021-02-25 17:59] ian commented on #1513
@swilly22 ok will follow along when that's ready. I've got a PR against our code to swap neo4j for redis-graph, so I can test if you need anything.

[2021-02-26 06:15] lppier commented on #1244
Hi @swilly22 , can I check why this was removed from todo? Is it not technically feasible?

[2021-02-26 11:39] swilly22 commented on #1244
I hope this will make it to 2.6,
@MeirShpilraien can we allocate time to look into it next week?

[2021-02-27 01:05] lppier commented on #1244
Thanks @swilly22 , we've actually implemented our solution on redisgraph already, having the scores will allow us to use it as a feedback to our downstream results ranking module. Would really appreciate having it.

For clarity, the request is for something like this :
https://neo4j.com/docs/cypher-manual/current/administration/indexes-for-full-text-search/

[2021-02-27 18:57] swilly22 commented on #1244
@lppier, would you mind describing your graph usecase?

[2021-02-28 15:56] ian commented on #1513
@swilly22 is there a PR open for the bindings in redisgraph.js?

[2021-02-28 16:31] swilly22 commented on #1513
@ian the point data structure had made its way to RedisGraph `edge` docker image:
[code]
in addition [`redisgraph.js`](https://www.npmjs.com/package/redisgraph.js) version 2.2.2 support that data type.

[2021-02-28 16:32] ian commented on #1513
Awesome, thanks for the update. And this will support distance() calculation as well?

[2021-03-01 07:04] swilly22 commented on #1513
it is.

[2021-03-01 08:36] swilly22 opened #1603 "runtime exception might cause memory leak"
Need to free collected values when freeing a result-set due to a runtime exception, consider using datablock destructor

[2021-03-02 13:07] jonaskello commented on #1455
Did this make it into 2.4 or is it planned in an new release?

[2021-03-03 05:08] lppier commented on #1244
We store people, companies and have relationships between them in the redisgraph. The graph is one of the backend services for our search engine. One of the use case is when someone searches for a company, say "Dropbox" , and the people affliated are also retrieved. This query is sent in parallel to the various backend services, of which redisgraph is one of them.

Our search engine then has a ran

[2021-03-05 01:04] rajanim opened #1611 "Drop RediSearch index command is not working"
Command : graph.query trxs_graph "call db.idx.fulltext.drop('Transaction')"

[code]

`=== REDIS BUG REPORT START: Cut & paste starting from here ===
1:M 04 Mar 2021 20:15:25.551 # Redis 6.0.5 crashed by signal: 11
1:M 04 Mar 2021 20:15:25.551 # Crashed running the instruction at: 0x7f7d39351181
1:M 04 Mar 2021 20:15:25.551 # Accessing address: (nil)
1:M 04 Mar 2021 20:15:25.551 # Failed assertion:

[2021-03-05 06:32] swilly22 commented on #1611
issue fixed, please upgrade.

[2021-03-05 06:32] #1611 closed

[2021-03-05 17:46] eruffaldi opened #1612 "Issues with multiple or in the edge label filter"
With 3 or conditions in an edge label the outcome is not correct and depends on the order:

  a-[:X|:Y|:Z]-b differs from a-[:Z|:Y|:X]-b

While UNION a-[:X|:Y]-b and a-[:Z]-b provides the correct answer.

[2021-03-05 18:22] jeffreylovitz commented on #1612
Thanks for the report, @eruffaldi.

Can you provide some sample queries to reproduce this problem?

[2021-03-05 18:33] eruffaldi commented on #1612
MATCH (a) DELETE  (a)
CREATE(a:A {name:"a"})
CREATE(b:B {name:"b"})
CREATE(c:C {name:"c"})
CREATE(c:D {name:"d"})
MATCH (a:A), (b:B)  CREATE (a)-[:X]->(b) RETURN a
MATCH (a:A), (b:C)  CREATE (a)-[:Y]->(b) RETURN a
MATCH (a:A), (b:D)  CREATE (a)-[:Z]->(b) RETURN a
MATCH (a)-[:X|:Y|:Z]->(b) RETURN a,b
MATCH (a)-[:Y|:Z|:X]->(b) RETURN a,b

[2021-03-05 19:38] swilly22 commented on #1244
Hi @lppier, emitting of search scores has been merged to our `master` branch and should be available on our `edge` docker image on dockerhub shortly, please see [docs](https://oss.redislabs.com/redisgraph/master/commands/#full-text-indexes)

[2021-03-05 19:38] #1244 closed

[2021-03-05 22:23] ian opened #1613 "Is there any native support for import/export directly from .cypher files?"
I'd love to support exporting the entire database directly to cypher then importing it elsewhere. Neo4j has an APOC for this, just wondering if there's a way to do it with redisgraph.

[2021-03-05 23:57] lppier commented on #1244
Wow thanks @swilly22 , so it does behave like that mentioned in the docs, with a different score for each result?

[2021-03-06 14:15] swilly22 commented on #1244
@lppier [TFIDF](https://oss.redislabs.com/redisearch/Scoring/#tfidf_default) describes the way results are scored

[2021-03-07 18:05] bionicles opened #1614 "please add fine-grained access control"
thanks for making redisgraph! it's starting to look really appealing since it's in the cloud service

would it be possible to add something like https://neo4j.com/docs/operations-manual/current/authentication-authorization/access-control/ for authorization?

I prefer Attribute Based Access Control (the article describes Role based access control) but this could be pretty handy either way for secur

[2021-03-08 01:53] lppier commented on #1244
Hi @swilly22 , can I check when it is in the edge image, how long will it take to make it into a release?
Thanks.

[2021-03-08 11:37] swilly22 commented on #1244
it is already in the `edge` docker image, not sure when it will be officially released.

[2021-03-08 11:39] swilly22 commented on #1613
Hi @Ian can you please refer me the the APOC function that does that?

[2021-03-08 11:50] swilly22 commented on #1614
Hi @bionicles, the link seems broken, can you please double check?
Although [Redis supports ACL](https://redis.io/topics/acl) RedisGraph has no notion of ACL, I can see the value in such feature as you've described it, although I believe it will come with a performance hit. at the moment there's no plan to introduce such a feature.

With regard to WebAssembly I haven't tried compiling RedisGraph t

[2021-03-08 12:39] Rambatino opened #1617 "Request that crashes Redis"
Hello 👋 . We've been using the redis graph module internally and so far it's been absolutely amazing!

Just recently, I've encountered an issue, most likely something to do with a recursive conditional traversal, that I'm guessing creates memory issues? The problem I never see a log in docker. The culprit is:

[code]
It will even crash if there is no data in the graph and thus is purely due to the

[2021-03-08 14:11] ian commented on #1613
@swilly22 here is the Neo4j version: https://neo4j.com/labs/apoc/4.1/export/cypher.

TBH I really hate that this is an extension and not just built into the product.

In an ideal world, there would be a `redis-graph export > db.cypher` and a `redis-graph import db.cypher` natively built into the CLI tool.

Is there another way to get an export in cypher format right now?

[2021-03-08 14:28] bionicles commented on #1614
re security

https://youtu.be/jQIqXVVYPE0?t=531

https://neo4j.com/docs/operations-manual/current/authentication-authorization/built-in-roles/index.html

https://github.com/neo4j/neo4j-documentation/blob/402084b3f096507e642f690cd3f383116b7319be/cypher/cypher-docs/src/docs/dev/ql/administration/security/index.asciidoc

https://www.postgresql.org/docs/current/ddl-rowsecurity.html

https://docs.tiger

[2021-03-08 15:12] #1584 closed

[2021-03-08 17:25] kornha opened #1619 "Full text search how to know which field is matched"
Hey,

I just want to say I really appreciate your timely responses and understand this is a huge burden, answering all these questions.

We have a common and considerable use-cause question here;
if I make an index, eg.,
`CALL db.idx.fulltext.createNodeIndex('Movie', 'title', 'description')`
And then, to search I call;
`CALL db.idx.fulltext.queryNodes('Movie', 'book') YIELD node RETURN node`
When

[2021-03-08 17:49] jeffreylovitz commented on #1617
Hi @Rambatino,

You can specify a property value multiple times in a WHERE clause, so if I understand correctly your query could function as:
[code]

Your provided query doesn't crash for me locally when run against an empty graph, but it does take an inordinate amount of time and memory, so I believe this is an OOM error. The problem lies in the logic that decides what is the best starting point

[2021-03-08 18:15] swilly22 commented on #1612
Fixed #1618

[2021-03-08 18:15] #1612 closed

[2021-03-08 18:44] Rambatino commented on #1617
Hi @jeffreylovitz, I just ran that query and it doesn't work. I don't think.

Let's say you have a Measurement node, with multiple Scope nodes SCOPED to it.

[code]

Resulting graph:

![image](https://user-images.githubusercontent.com/3631109/110366457-36c2dd00-803e-11eb-9409-9c58fc0b5e26.png)

A single scope can't be both "scope|sc7440455|s5e237e06|saff864d3" AND "scope|sad5f9bfc|sbf396750|i102"

[2021-03-08 19:24] jeffreylovitz commented on #1617
Oh, I see what you mean! (And sorry, my recommendation didn't make sense.)

I get the idea of your data from your given queries, but to verify, these are just for example purposes? They are missing elements like using multiple MATCH/MERGE clauses to bind variables like `clientnameRipple`, as well as having issues like undirected MERGE paths.

To make your initial query perform better, we really wa

[2021-03-09 06:36] lppier commented on #1244
Ok thanks, am asking as I'm using it in a production system , will wait for it to be released thanks.

[2021-03-09 10:30] Rambatino commented on #1617
So those queries are derived from dynamic inputs. What's the benefit of binding the variables?

The undirected paths are problematic, and I'll fix them now (and the MATCH queries should be using them too so I'll fix that in my code now). So thank-you for spotting that!

The code you posted actually still doesn't work as it's not necessarily _all_ of the scopes, and it's not _any_ of the scopes, ei

[2021-03-09 10:58] Rambatino commented on #1617
So there may be another issue here as well. With your example:

[code]

If I remove:

[code]

It obviously works, as it's just matching the Measure. However, I would have also expected this to work:

[code]

I've swapped the `all()` to an `any()` and yet it doesn't match anything 🤔

[2021-03-09 11:18] swilly22 commented on #1619
@kornha I don't see how `CALL db.index.fulltext.createNodeIndex("titlesAndDescriptions", ["Movie", "Book"], ["title", "description"])` would order the title matches above the description,
the mentioned call would simply create a fulltext index over both `Movie` and `Book` indexing properties: `title` and `description`

[2021-03-09 12:00] #1589 closed

[2021-03-09 14:54] kornha commented on #1619
Because in this case, I can simply make a node index just for title, and search that without searching the description one. I do not see how to do the same in the RedisGraph implementation (if I want to **still** have an index on description for searching that separately).

[2021-03-10 22:00] sartian opened #1622 "RedisGraph static module compile option for use with Embedded Redis? (ozimov/embedded-redis)"
### Summary

We want to be able to compile redisgraph module in Ubuntu 16.04 statically so there is not need for system-level install of OpenMP library, we want all redisgraph library dependancies statically linked so we can successfully run tests on vsts-agent containers we can't install libgomp1 on.

### Details

We're looking at using RedisGraph and have been using [Embedded Redis](https://gith

[2021-03-12 12:31] jonaskello commented on #1076
I tried the approach suggested above using lua script:

[code]

This does copy the key but it also makes RedisGraph stop responding. After the above command any attempt to get any key from RedsGraph results in the error below:

[code]

I'm using a sinlge docker container locally on my computer with image `redislabs/redisgraph:2.4.1`. So no replication should be involved as far as I understand.

I

[2021-03-12 13:13] jonaskello commented on #1076
The DUMP/RESTORE approach works in image `redislabs/redisgraph:2.0.20` but image `redislabs/redisgraph:2.2.15` and above gives the `(error) RedisGraph module is currently replicating` error.

[2021-03-12 13:14] lppier opened #1624 "Redisgraph alpine / ubuntu images?"
Hi, I'm using redisgraph in production, and we have vulnerability scans on the containers.
Would you consider building a alpine docker image like what redis does?
Or at the very least, using ubuntu 20.04, as they seem to resolve vulnerabilities more promptly?

Thanks!

[2021-03-12 15:10] swilly22 commented on #1624
Hi @lppier, please see our [Alpine docker file](https://github.com/RedisGraph/RedisGraph/blob/master/Dockerfile.alpine)

[2021-03-12 23:09] K-Jo opened #1625 "Exception handling that indicates where the Cypher query is wrong"
Error messages as "RedisGraph does not currently support set all properties" can be improved by indicating where in the cypher query the mistake can be adjusted.  This will tremendously improve the developer experience for new users

[2021-03-13 22:16] jonaskello opened #1626 "RedsGraph stuck in "replicating" after DUMP and RESTORE used to copy graph"
Each graph in RedisGraph is stored on a key. For keys we can use the `DUMP` and `RESTORE` commands in Redis  to copy them. However when I do that RedisGraph gets stuck and only returns "replicating" messages to all further commands for any key.

Steps to reproduce

Run these commands in Redis CLI:

[code]

I'm using a singe docker container locally on my computer with image `redislabs/redisgraph:2

[2021-03-14 12:14] swilly22 commented on #1076
Hi @jonaskello, `DUMP` `RESTORE` would only work in you're restoring the graph under its original key name, this is a limitation introduced as part of supporting (replicating) large graphs,
as a suggestion on how to copy a graph please use:
1. DUMP original
2. `RENAME` original clone
3. RESTORE original 0 <DUMP_OUTPUT>

[2021-03-14 14:34] jonaskello commented on #1076
@swilly22 Thanks, that will be very useful :-). I'll update #1626 with this suggestion and close it when I get it to work.

[2021-03-14 14:35] chayim opened #1628 "CI changes"
- [ ] PR commit (which happens when someone does a pull request): linux-debian
- [ ] master commit: platform build => deploy (we can disable linux debian here - bionic is close enough)
- [ ] intgration branch (versioned branches) commit: platform build + macos + valgrind + redis matrix (it's the only place integ branches really tested) => deploy
- [ ] version tag: platform build + macos + valgrind

[2021-03-14 14:40] #1628 closed

[2021-03-14 14:45] jonaskello commented on #1626
As [mentioned here](https://github.com/RedisGraph/RedisGraph/issues/1076#issuecomment-798896879),  there is a known limitation that you can only use RESTORE to the same key as the data was DUMP:ed from. So you can use RENAME to make a copy like this:

[code]

[2021-03-14 14:45] #1626 closed

[2021-03-15 00:29] lppier commented on #1624
Thanks for this @swilly22 , we'll give it a try.

[2021-03-15 10:57] philrandom opened #1629 "BUG : FreeBSD : segmentation fault when loading redisgraph.so"
## Context
I compiled RedisGraph 2.2.14 for **FreeBSD 12.2-RELEASE**, In the **src/Makefile** I change line 27 by this :
[code]
so I've compiled and everything was OK.

Here is **redis-server** (compiled from ports (official version)) version :
[code]

## Bug
When I load redisgraph.so I have an `segmentation fault` here's what it prints :
[code]

PS : I do not suspect any RAM error

[2021-03-15 12:58] bionicles commented on #1430
Hi @swilly22 -- Is it possible to store json on the vertices and edges? The purpose would be to make a graph of documents according to an established external specification (FHIR) over which we have no / little control. the elements of the specification are nested and we'd have to write extremely complex queries and normalize heavily if have to flatten everything. Plus, the FHIR specification has

[2021-03-15 19:33] jeffreylovitz commented on #1629
Hi @philrandom,

It looks like this crash occurred in a `strlen` call, which seems strange to me!

Can you try running the server under a debugger or collecting a core dump so that we can get a valid stack trace? I typically do this with:
`gdb --args path/to/redis-server path/to/redis.conf`

You may have to recompile with `make clean && DEBUG=1 make` to get accurate results.

[2021-03-16 06:57] swilly22 commented on #1430
@bionicles, now that we've introduced the map datatype we could allow it to be stored within both nodes and edges attribute set, Neo4J decided against it, which I can see a reason why (conflicting with the purpose of an attribute-set, an attribute-set within an attribute-set) but I still believe it is beneficial, we'll have an internal discussion about this matter and i'll update on our conclusion

[2021-03-17 16:03] philrandom commented on #1629
Hey,
I don't know why but ... So everything's OK. I don't know why I recompiled the port with the debug flag and instead of loading `redisgraph.so` manally I loaded it via the config file.
The examples listed on the readme works perfectly !!

Thanks for your times

[2021-03-17 16:03] #1629 closed

[2021-03-18 19:02] jeffreylovitz opened #1635 "Indexes not utilized on constant array inputs"
The current logic to determine whether a label scan can be replaced by an index scan checks the `FilterTree` for filters where one side is an indexed property and the other side is a constant value.

However, it is possible to have a side that resolves to a constant value at run-time but not when the index scan is created, as in:
[code]
or
[code]
In these cases, the index will be unused and we wil

[2021-03-22 10:46] #1624 closed

[2021-03-22 10:50] swilly22 commented on #1613
@ian if you would like to import a graph from one RedisGraph server to another, you can use one of Redis persistency mechanisms:
AOF or RDB, see [BGSAVE](https://redis.io/commands/bgsave) as a starting point

With regard to supporting one of the export procedures you've linked, unfortunately that's currently not on our roadmap.

[2021-03-22 15:38] #1619 closed

[2021-03-22 15:39] kornha commented on #1025
Is there a roadmap item to allow configuring of RedisSearch items like stop words? (https://oss.redislabs.com/redisearch/Stopwords/)

[2021-03-23 15:31] sidenAlex opened #1638 "RedisSearch Stop Words Not Working"
Hello,

I have noticed a change in behavior from RedisSearch stop words.
Stop words should be ignored and not considered when searching and indexing per this documentation: https://oss.redislabs.com/redisearch/Stopwords/

However, I noticed for RedisGraph this only works on indexing, but not on search.

For example:
`CALL db.idx.fulltext.createNodeIndex('movie', 'title')`
`CALL db.idx.fulltext.que

[2021-03-24 17:28] swilly22 commented on #1638
Hi @sidenAlex, thank you for brining this up, we're investigating.

[2021-03-25 18:09] AndrewHannigan commented on #274
Any additional updates here on support TinkerPop API?

[2021-03-26 10:45] movingname opened #1642 "List all graph names in RedisGraph"
Would it be possible to add a function that lists all graph names in RedisGraph? We hope to support a user case in which a user can select one specific graph, and then see a visualization of it.

Thanks!

Related discussion: https://forum.redislabs.com/t/list-all-graph-names/1237

[2021-03-26 14:56] jeeger opened #1643 "Redisgraph returning negative indices with --compact"
We're running into a bug with redisgraph on the following query pattern:

[code]
The output of the last query returns a negative label index for "expr", while the  non-compact query returns the correct result (see below). Queries have been executed on a docker `redislabs/redisgraph:2.4.2` container.

Without `--compact`:
[code]

With `--compact`:

[code]

The output of "call db.labels()":

[code]

[2021-03-26 18:34] jeffreylovitz commented on #1643
Hi @jeeger,

Thanks for the report and the clear steps to reproduce!

I've opened a PR that resolves this bug, the explanation for the problem can be found there - https://github.com/RedisGraph/RedisGraph/pull/1644 .

Thank you!

[2021-03-28 12:43] gendalf opened #1645 "MERGE always create node after apply index"
I'll try to insert some graph

[p:A]-[l:LINK]-[s:B]

p:A - 20 000 nodes
l:LINK - 100 000 edges
s:B - 50 nodes

[code]

Redis graph without Indexed exec one command very slow (200 op/sec)
I tried to create Indexed
[code]

But with Indexes MERGE command always create new node/edge.

[2021-03-29 06:01] swilly22 commented on #1645
Hi @gendalf,
I've tested your queries using the `edge` docker image: `docker run -p 6379:6379 -it --rm redislabs/redisgraph:edge`

Please note we don't support edge indexing
I've used [`GRAPH.PROFILE`](https://oss.redislabs.com/redisgraph/commands/#graphprofile) to see which operations get trigger:

[code]

As you can see on the first call `Index Scan` operations do not return any data, as a resul

[2021-03-29 06:01] #1645 closed

[2021-03-29 06:03] swilly22 commented on #1643
Resolved #1644

[2021-03-29 06:03] #1643 closed

[2021-03-29 12:12] swilly22 opened #1646 "create index syntax change"
`Neo4j 4.2.4`

query: `create index on :L(v)`

[code]

[2021-03-31 08:26] swilly22 opened #1647 "Add support for FOREACH"
Neo [doc](https://neo4j.com/docs/cypher-manual/current/clauses/foreach/)

[2021-03-31 18:56] swilly22 opened #1648 "add `startNode` and `endNode` to functions doc section"
Add missing function e.g. `startNode` and `endNode` to [docs](https://oss.redislabs.com/redisgraph/commands/#functions)

[2021-04-01 14:02] #1642 closed

[2021-04-01 14:11] movingname commented on #1642
Many many thanks! It really helps our product.

[2021-04-01 18:10] swilly22 commented on #1642
@movingname, can you please share some details on your use-case?

[2021-04-02 15:29] movingname commented on #1642
Hi @swilly22, so we are developing a product to show a knowledge graph. The knowledge graph has several versions, one for productions and multiple for research & test. For developers and researchers we hope to let them select which version then want to see. Each version is stored as a separate graph inside a RedisGraph instance. That's why I requested this feature:)

[2021-04-04 11:50] swilly22 opened #1651 "Wrong group association"
[code]

There should be two different groups: (Boolean False and String "False")
1. `false`
2. `"false"`

A group matching is performed via string lookup (computing a string representation of the key not taking into account value type) False and "False" compute the same key string representation. Consider switching to a hash version.

[2021-04-04 17:33] micahscopes opened #1652 "Any plans to support more math functions in cypher queries?"
So first off, I really love redisgraph, it's amazing.

My question: are there any plans to support additional math functions in cypher queries?  I'm currently in need of `sqrt`, but I'm sure at some point others would be handy too.

[2021-04-04 18:37] bionicles commented on #1622
Does This help? https://stackoverflow.com/questions/27688778/how-to-link-libgomp-statically-when-linking-other-libraries-dynamically

I'd also love to compile RedisGraph and link it into a Rust crate

[2021-04-04 21:06] swilly22 commented on #1652
Hi @micahscopes, thank you for the kind words,
`sqrt` should be fairly easy to add, I'll close this ticket once it is.
May I ask what's your use case ?

[2021-04-05 00:45] micahscopes commented on #1652
Hey @swilly22!
Well, in my specific case I am computing a loss function over various paths, and for each path in order to get the optimal value of the loss function I need to take a `sqrt` of the product of some edge weights.  Currently I have to do this in the application after the query, but I was thinking about just how nice it'd be if I could do it in the query itself, like to do aggregate que

[2021-04-05 07:19] swilly22 opened #1654 "add power function"
`RETURN pow(x, y)`
The pow() functions compute x raised to the power y.

#1652

- [ ] tests: TCK ?
- [ ] tests: tests/unit/test_arithmetic_expression.cpp
- [ ] docs: docs/commands.md

[2021-04-05 12:52] jeffreylovitz commented on #1654
Note that Cypher supports exponentiation with the `^` operator, as in:
`RETURN 2 ^ 3`

[2021-04-05 12:55] #1652 closed

[2021-04-08 11:33] alronlam commented on #1244
Hi! Would like to clarify how the Tf-Idf computation works if you're using a fuzzy query.

That is, query looks like this: `CALL db.idx.fulltext.queryNodes(‘Node’, ‘%zeller%’) YIELD node, score RETURN node, score`

Results are something like (just showing a shortened format):

Result 1:
[code]

Result 2:
[code]

I would have expected Bob Zeller to have a higher score, since there's an exact term m

[2021-04-09 07:27] ashtul commented on #1244
@alronlam Thank you for the issue.
Currently, RediSearch gives all fuzzy matching terms the same score. There is no penalty on a higher distance.
Are you familiar with an algorithm that will decide on the score based on the distance?

Please [open an issue about the subject on the RediSearch repo](https://github.com/RediSearch/RediSearch/issues/new).

[2021-04-10 14:59] abevoelker opened #1658 "`redis-cli --csv` creates files without newlines"
I've been doing my RedisGraph queries like this to produce some kind of machine-readable output:

[code]

It's generating large CSV files, but they have no newlines:

[code]

I can do [a little cleanup](https://unix.stackexchange.com/a/446401/17420) to fix the file:

[code]

However then I noticed at the end of these files is some debug output I need to trim:

[code]

I also noticed if I make a mi

[2021-04-10 21:52] abevoelker opened #1659 "Crash report"
Redis crashed while I was running a couple RedisGraph queries concurrently. One had been running about 2 hours and the other about 25 mins.

This is on an Ubuntu 20.04 server, running Redis 6.2.1 and redisgraph.so built on git SHA 92046602a775dcba2396d493597b60043f0e39bb. If you want the RDB file that has the graph data let me know; it's about 10MB in size.

[code]

[2021-04-10 23:09] abevoelker commented on #1659
Crashed again, this time it was just with the one query running for about 24 mins (the same one that was running for 25 mins last crash):

[code]

[2021-04-11 06:08] swilly22 commented on #1659
Hi @abevoelker,
Can you please provide both the RDB and queries you're running?
Also can you please specify how much memory the machine you're running on have?
Thank you!

[2021-04-11 06:34] swilly22 opened #1660 "Reduce memory consumption on variable length traversals"

[2021-04-11 06:38] swilly22 commented on #1658
Hi @abevoelker, I'm not familiar with the `--csv` flag but, it seems like it treats array replies as if they were a single row in a CSV file, which seems reasonable to me, a reply from redis-server is a row in the csv file and each element in the reply is mapped to its own column,

[code]

[2021-04-11 17:39] abevoelker commented on #1659
RDB: https://www.dropbox.com/s/podx7zhb6q7byb4/crash-db.rdb?dl=0

Query:

[code]

The machine had 512GB of RAM (htop reported 498GB). It was an r5dn.16xlarge on AWS EC2 to be precise.

[2021-04-11 17:49] abevoelker commented on #1658
Thanks for the clarification. I see what you mean. I now see this seems to be [an old complaint](https://groups.google.com/g/redis-db/c/l0Z_XrsHpmI/m/WF1HJstrwq8J) with redis-cli, although apparently pretty low traffic.

I suppose most people are probably using a higher level language binding like Python, Ruby, etc. so they don't use this option. Going to close this and just use Ruby or Python whe

[2021-04-11 17:49] #1658 closed

[2021-04-13 10:07] swilly22 commented on #1659
@abevoelker, I've looked into both the data and the query
I believe the crash is caused due to the system running out of memory.

I've created an index: `GRAPH.QUERY SchedB "create index on :Committee(party)"`
and modified the query a bit to take advantage of the index:
[code]

Now by removing one hop: `(c:Committee)-[:contributesTo]-(c2:Committee)-[:contributesTo]->(r)`
I'm getting ~27M results,

[2021-04-15 14:44] schwab commented on #1305
I'm bumping this thread as we've started hitting this limitation again.  In this case we have AI that's doing analytical searches against our data and since many of our data sources have > 9 dimensions of node relationships ( ie > 9 node fanout ), the AI has to be limited in how deeply it can search for the patterns.

Is correcting this issue planned in a future release? If not we may have to go b

[2021-04-19 08:57] pzac commented on #1455
Chiming in to add some information: this seems to happen when matching properties, but it behaves correctly with labels:

[code]

[2021-04-21 18:11] jeffreylovitz opened #1669 "Mixed aggregate and non-aggregate values within a map cause incorrect results"
Given the query:
[code]
We receive the incorrect result set:
[code]
Instead of the expected:
[code]
Because `OpAggregate` superficially operates on one expression (`toMap`), the key and aggregate expressions are not disambiguated properly, causing the `key` to never be evaluated and the aggregation to be performed as though there is only one group.

[2021-04-23 21:26] laxmimerit opened #1670 "RedisGraph Clustering"
Hi,
I want to use RedisGraph clustering on self-hosted AWS servers. Is it possible to do clustering with RedisGraph open-source? Any relevant article would be really helpful.

[2021-04-23 22:04] gkorland commented on #1670
You can can cluster, but notice that a single graph located in a single shard, so only if you open more than a single graph will it spread across the cluster.

[2021-04-26 14:41] OfirMos opened #1672 "Optimization of query execution of inequality filters"
When there is an inequality filter and no limit, instead of doing a Cartesian product over two/multiple groups (let's call the number of groups n):
Sort each one of the groups (O(nlogn)) in an array and start from the beginning/end of the sorted arrays and walk with n pointers from beginning/end to end/beginning to calculate the output.
Since the arrays are sorted one pass is sufficient.
The total

[2021-04-27 12:55] kumskov opened #1674 "RedisGraph + RediSearch fails to search for strings with special symbols"
I'm running redisgraph:2.4.2 docker image with redisearch 2.0.0 module loaded. I run queries from Redis-cli.

I want to query fields that contain special chars (@ in my example), but I fail to do so.

I've created an example graph demonstrating my issue.

[code]

Querying handles kinda works if you strip leading @ in the query:

[code]

But if I run my query with escaped @ I get nothing

[code]

I

[2021-04-28 10:24] emmanuelkeller commented on #1674
As the full-text tokenization includes both ```@``` and ```.```, the email address ```adam@mail.server``` is stored in the full-text index as three words: ```adam```, ```mail``` and ```server```.

On the query part, escaping the ```@``` means that the full-text engine is going to search for the words ```adam@mail``` and ``` server```, which does not match.

The workaround to this is escaping the e

[2021-04-28 10:52] kumskov commented on #1674
Thanks @emmanuelkeller , your reply helped a lot!

[2021-04-28 10:52] #1674 closed

[2021-04-29 08:36] lorenzovalente commented on #13
any updates on this?

[2021-04-29 12:50] swilly22 commented on #13
In review
https://github.com/RedisGraph/RedisGraph/pull/1561

[2021-04-30 03:35] bingo-ctrl opened #1676 "multiple algo.BFS call crash redis"
Hello @swilly22 . redisgraph is amazing 👋.we are starting to using redisgraph,but we got some problems,which crash redis ,it will be very appreciate if you could take a look at this.

simple reproduce steps:

1. docker run -p 6379:6379 -it --rm redislabs/redisgraph
2. GRAPH.QUERY MotoGP "CREATE (:Rider {name:'Valentino Rossi'})-[:rides]->(:Team {name:'Yamaha'}), (:Rider {name:'Dani Pedrosa'})-[:ri

[2021-04-30 05:24] abevoelker commented on #1659
Thanks, this was very helpful to me! I did not intend to do the bidirectional traversal. I was jumping around between Cypher tutorials and I must've missed that distinction, but glad to know it now. Thanks for your help! Closing this now.

[2021-04-30 05:24] #1659 closed

[2021-05-01 13:23] swilly22 opened #1677 "MERGE optimisation"
Create a single node `n` which is connected to 6 different nodes
[code]

When issuing:
[code]

There's no need for the MATCH child branch of the MERGE operation to find all 6 neighbouring nodes (one is enough), this is true only when MERGE is the root of the execution plan, otherwise we do need to find them all.

[2021-05-02 02:41] tnp0 commented on #1638
I'm seeing the same problem. When searching, I'm having to remove stop words prior to passing to redisgraph as a workaround, but this is very limiting and has it's own major drawbacks.

`men in black` -> no results
`"men in black"` -> no results
`men black` -> found `men in black` and `men driving a black car`

[2021-05-02 13:13] #1551 closed

[2021-05-02 20:13] #1676 closed

[2021-05-02 20:13] swilly22 commented on #1676
@bingo-ctrl, thank you for reporting, a fix has just been merged to our master branch and will be available soon on our `edge` docker image.

[2021-05-03 10:17] swilly22 commented on #1617
Hi @Rambatino, I would like to follow up on this issue, what's the current status?

[2021-05-04 01:27] bingo-ctrl commented on #1676
@swilly22 , Awesome,guys! thanks for your quick action and effort,💓.

[2021-05-04 06:32] #1305 closed

[2021-05-04 06:32] swilly22 commented on #1305
@schwab #1325 should address this issue, the fix is currently available on our `edge` docker image and our `master` branch.
[code]
(please make sure your local docker cache is clear before running)

Would you be able to verify this fix?

[2021-05-04 09:41] mdecuir commented on #1305
I just verified the fix locally.  I went up to 15ish edges without seeing any noticeable performance degradation.

[2021-05-04 16:55] schwab commented on #1305
Thanks so much for tackling this one Roi.  I'll watch for this getting into a release.

[2021-05-05 18:43] raphael10-collab opened #1686 "Failing in building from source ( Ubuntu 18.04 Desktop)"
I attach the complete log of the compilation.

How to solve the problem?
[redisgraphInstallConfig.txt](https://github.com/RedisGraph/RedisGraph/files/6429495/redisgraphInstallConfig.txt)

[2021-05-05 18:52] swilly22 commented on #1686
Due to parallel build, (and RedisGraph not waiting for all dependencies to be built) can you please try rerunning `make` this time without specifying `-j`, but simply `make` ?

[2021-05-06 06:36] raphael10-collab commented on #1686
I tried without `-j` , simply with `make`:
is this ok now?
[redisgraphInstallConfig.txt](https://github.com/RedisGraph/RedisGraph/files/6432298/redisgraphInstallConfig.txt)

[2021-05-06 08:47] bingo-ctrl opened #1687 "Inconsistent Pattern result for k-hop"

[2021-05-06 10:21] bingo-ctrl commented on #1687
Hi @swilly22 , we were confused by some inconsistent k-hop result, we are not sure this is by design or something else ,could you try this:
1. this is the node and rel data
[node_rel.zip](https://github.com/RedisGraph/RedisGraph/files/6433649/node_rel.zip)

2 .redisgraph-bulk-loader DEMO  --enforce-schema -p 6379  -n /tmp/element.csv -n /tmp/fact.csv -r /tmp/IsElementOf.csv -r /tmp/RelatedTo.csv
3

[2021-05-07 16:15] jeffreylovitz opened #1688 "Cartesian Product does not respect bound variables"
Given the query:
`MATCH (a:A) WITH a MATCH (a), (b:B) RETURN a.v, b.v`
RedisGraph constructs the execution plan:
[code]
Introducing an erroneous All Node Scan at 6.

[2021-05-08 02:38] bingo-ctrl commented on #1687
@jeffreylovitz,thanks for you response, we are looking forward a better redisgraph.

[2021-05-10 07:45] bingo-ctrl opened #1689 "algo.BFS only support outgoing relationships"
Hi, we want to ensure whether the algo.BFS only support outgoing relationship,thanks in adance.
1. GRAPH.QUERY DEMO_BFS "CREATE  (:element{name:'act'})-[:IsElementOf]->(:fact{name:'act may be a civil wrong'})<-[:IsElementOf]-(:element{name:'civil wrong'})"
2. GRAPH.QUERY "DEMO_BFS" "MATCH (n0:fact{name: 'act may be a civil wrong'}) CALL algo.BFS(n0, 3, NULL) YIELD nodes as ns0 RETURN ns0"

step 2

[2021-05-10 13:46] jeffreylovitz commented on #1689
Hi @bingo-ctrl,

You are correct, `algo.BFS` only traverses outgoing relationships from each node. The results you're retrieving are expected.

[2021-05-11 01:35] bingo-ctrl commented on #1689
@jeffreylovitz thanks for your clarification.

[2021-05-11 01:36] #1689 closed

[2021-05-11 22:11] sidenAlex opened #1694 "RedisGraph Full Text Search UNION Returns Duplicates"
Hello,

I believe I have encountered a bug, but I am posting here to be sure.

Below I am listing my query as well as the results.
You will notice here that I made a full text index on both **movie** and **actor**. In this query, I am matching both of these separately, but in each case I am trying to return the **movie** as well as its neighboring nodes (ie, I match the actor and return the neighb

[2021-05-12 07:34] ashtul commented on #1638
BTW, [this is the default stopword list](https://oss.redislabs.com/redisearch/Stopwords/#default_stop-word_list).

[2021-05-12 09:42] bingo-ctrl opened #1695 "shortestPath crash redis"
Hi, please take a look at the tricky issue,you could use our masking data to reproduce the issue.

this is the data:[shortestPathCrash.zip](https://github.com/RedisGraph/RedisGraph/files/6465101/shortestPathCrash.zip)

1.docker run -p 6379:6379 -it --rm redislabs/redisgraph:latest

2. redisgraph-bulk-loader GRAPH_DEMO  --enforce-schema  -n /tmp/nodes/element.csv -n /tmp/nodes/fact.csv -r /tmp/rel/

[2021-05-12 14:31] kunalherkal opened #1696 "Geospatial index is not utilised"
I am using the image `redislabs/redisgraph:edge` to run RedisGraph.

I want to find an Employer within 5000 meters from given GeoSpatial point.
This is my query:
`127.0.0.1:6379> GRAPH.QUERY DEMO "WITH point({latitude:27.0000000, longitude:21.0000000}) AS scranton MATCH (e:Employer) WHERE distance(e.location, scranton) < 5000 RETURN e LIMIT 1"
1) 1) "e"
2) 1) 1) 1) 1) "id"
            2) (integer)

[2021-05-12 14:42] patelsan opened #1697 "Design question about IDs"
I have a quick question about a comment about ids - `Internal IDs are returned with nodes and relations, but these IDs are not immutable. After entities have been deleted, higher IDs may be migrated to the vacated lower IDs.` on page https://oss.redislabs.com/redisgraph/result_structure/. Would you say it's better to avoid using the system assigned Ids and instead assign and use custom GUID/ UUID

[2021-05-12 16:45] jeffreylovitz commented on #1697
Hi @patelsan,

To a degree, this depends on your workflow. If you don't have a delete-heavy design and are okay with IDs that aren't monotonically increasing, it's safe to rely on internal IDs.

The benefit of this, though, is only a small amount of space saved. In the general case, I would say it's safer to create an `id` property that you assign! This property should definitely be indexed on nod

[2021-05-12 16:59] jeffreylovitz commented on #1696
Hi @kunalherkal,

You are right; this query should exploit the index you've built!

There is an error in the logic that determines whether indexes can be utilized which makes them overzealous in checking distance filters; I'll put fixing this on our short-term roadmap.

In the meantime, you can circumvent this issue by not specifying coordinates in a `WITH` clause. You can instead embed the locati

[2021-05-12 20:17] jeffreylovitz commented on #1695
Hi @bingo-ctrl,

Thanks for the report! This crash is occurring because the `(n0)-[*]->(n1)` traversal is erroneously reporting a zero-length path, and subsequently trying to read an invalid node.

I'm not immediately sure why this is the case, but will make time to look into it soon!

[2021-05-12 21:58] kunalherkal commented on #1696
Hi @jeffreylovitz

Thanks for the quick response!

I tried the suggested workaround and it works for that query, but of course, the real query we are interested in is a bit more complicated than that.

For a given employer, we want to find all other employers within 5000 meters radius.
The query looks something like below. As expected, it doesn't use the GeoSpatial index as you explained.
[code]
S

[2021-05-12 22:20] patelsan commented on #1697
Thanks for the inputs @jeffreylovitz !

[2021-05-12 22:20] #1697 closed

[2021-05-13 09:18] bingo-ctrl opened #1701 "Run BFS query crash redis"
Hi ,we encounter the other crash again, this could be reproduced with the mock data,thanks in advance.

this is the crash detail: [crash_detail.txt](https://github.com/RedisGraph/RedisGraph/files/6471400/crash_detail.txt)

this is mock data:  [bfs_crash.zip](https://github.com/RedisGraph/RedisGraph/files/6471407/bfs_crash.zip)

1) docker run -p 6379:6379 -it --rm redislabs/redisgraph

2) redisgrap

[2021-05-13 09:56] swilly22 commented on #1694
Hi @sidenAlex, thank you for reporting!
this is indeed a bug,

here's a simpler recreation example:
[code]

[2021-05-15 06:34] #1694 closed

[2021-05-15 06:36] swilly22 commented on #1694
@sidenAlex, fix has been merged to our master branch, should be available shortly in our `edge` docker image (make sure your local docker cache is clear before pulling) `docker run -p 6379:6379 -it --rm redislabs/redisgraph:edge`
could you please verify?

[2021-05-17 08:27] mdazartash opened #1704 "Appendonly disabled redisgraph module"
i am using redisgraph for a while now.i want to add AOF persistency. the appendonly command disables redisgraph module. redisinsight will also tell u that.
if be removed command will work correctly.
this works
docker run -p 6379:6379 --volume=D:\docker\data:/data --name redisg  -it --rm redislabs/redisgraph:edge
but in this one graph is off
docker run -p 6379:6379 --volume=D:\docker\data:/data --n

[2021-05-17 12:28] jeffreylovitz commented on #1704
Hi @mdazartash,

This is a Docker CMD/ENTRYPOINT issue - your `appendonly` directive causes the module to not get loaded because it overwrite the default command. You can resolve this by adding the load directive explicitly:
[code]

[2021-05-17 13:01] GnaneshKunal commented on #1704
@mdazartash

For redisgraph container, this one does it:

`docker run -p 6379:6379 --volume=D:\docker\data:/data --name redisg -it --rm redislabs/redisgraph:edge --appendonly yes --loadmodule /usr/lib/redis/modules/redisgraph.so`

[2021-05-18 05:20] bingo-ctrl commented on #1676
@swilly22 , I noticed a new version 2.4.4 has been released,which contains a fix for this issue,many thanks for all your efforts,but the crash still exists when we do test on the lastest redisgraph,it will be grateful if you could take look at the issue #1701

[2021-05-18 08:16] mdazartash commented on #1704
Thank u guys, it worked.

[2021-05-18 08:16] #1704 closed

[2021-05-18 12:07] OfirMos opened #1706 "BGSAVE waits for synchronisation lock forever"
When BGSAVE forks while a graph's matrix synchronisation locks is taken, the synchronisation lock in the child never gets freee so the process blocks forever.

One solution is to not synchronise the Matrix under lock (using Nope synchronisation policy) so the synchrinization will take place on the iterator creation without a lock.

This still leaves us with other problem that rose hile investigati

[2021-05-18 13:05] mikhailredis opened #1707 "`GRAPH.CONFIG GET *` is not responding in redis-cli"
Using the latest docker image   `redislabs/redismod:latest`, `redislabs/redisgraph:latest` or `redislabs/redisgraph:edge` command `GRAPH.CONFIG GET *` get stuck and won't return any results. GET a single settings works as expected:

[code]

Docker start-up. Nothing in the logs, which can explain why it stuck:
[code]

[2021-05-18 13:54] jeffreylovitz commented on #1707
Hi @mikhailredis,

Thanks for the report!

This bug was caused by a regression; I've written a fix and added a test to ensure that it won't occur again.

[2021-05-18 14:33] mikhailredis commented on #1707
Thank you @jeffreylovitz for quick turnaround.

[2021-05-18 18:22] #1707 closed

[2021-05-19 06:18] swilly22 commented on #1706
Solved by #1709

[2021-05-19 06:18] #1706 closed

[2021-05-19 06:35] swilly22 opened #1711 "crash on `ListComprehension_Free`"
`GRAPH.explain g "MATCH (child:object) WITH child.last_successful_run AS last_run MATCH (child:object)-[:depend_on]->(parent:object) WHERE all(parent.last_successful_run > '2021-05-13') return child"`

[code]

[2021-05-19 15:19] Rambatino opened #1713 "Flatten (similar to neo4j reduce(output = [], ...))"
We have a slightly complex query and we're struggling to flatten the results without doing multiple UNWINDs that lead to cartesian products.

The query at the moment is this:

[code]

The last part doesn't return with the correct shape, it's of the form: `[[''], [''], ['']]` and ideally we'd flatten that somehow. Is it possible? There is a reduce in the neo4j docs but it doesn't look like it's imp

[2021-05-19 18:41] swilly22 commented on #1676
@bingo-ctrl sorry for the mess, we'll look into it,
I'll continue reporting on the other issue.

[2021-05-19 19:33] #1688 closed

[2021-05-22 17:43] chainhead commented on #374
But, `ID(p)` is not immutable as per [documentation](https://oss.redislabs.com/redisgraph/commands/#scalar-functions). So, not sure, how it can be used.

BTW, the documentation also mentions that `ID` can be used for relationship; would you know the appropriate syntax?

[2021-05-23 05:13] swilly22 commented on #374
@chainhead `ID()` operates on both nodes and edges
`MATCH (a)-[e]->(z) RETURN ID(a), ID(e), ID(z)`

[2021-05-23 06:10] chainhead commented on #374
Ok. Would that be mutable too?

[2021-05-23 08:47] gkorland opened #1717 "Inconsistent error message on wrong empy key"
[code]

[2021-05-25 06:09] swilly22 commented on #374
An entity ID isn't going to change throughout the live time of the entity.
when an entity is deleted a newly created entity might reuse the deleted entity ID

[2021-05-25 14:50] maguec opened #1722 "toJSON on a path crashes server"
server version:  Redis version=6.2.2
graph version: commit de0709e5f1a046fadbe96c8b5b68d31e8743b9d0

Repro case

[code]

Crash report

[code]

[2021-05-26 16:05] YaphetKG opened #1727 "Question on query optimization"
Trying to get a query return results fast as possible I have the following two queries :

[code]

The first one tries to do a node scan on the node named chemical_substance the second on does the first scan on disease.
In the redis graph i've added index on id for all node labels, but in this query i am not explicitly setting labels (so not really if the index is in effect).
That is one question i

[2021-05-26 16:19] jeffreylovitz commented on #1727
Hi @YaphetKG,

You're right that your indexes are not being utilized; they can only be applied if you explicitly specify the labels. (You'll see an `Index Scan` in the execution plan when they are being used.)

The starting point of the traversal chain can make a big difference, as you observed. We have some heuristics in place to try to guess the best starting point, but they are fallible in that

[2021-05-27 06:08] swilly22 commented on #1722
@maguec fix been merged to our `master` branch

[2021-05-27 06:08] #1722 closed

[2021-05-27 08:35] jeeger opened #1730 "Setting all properties with CYPHER parameters"
While setting all properties via a map seems to have been implemented in PR #1639 (🎉), I seem to have found a bug with query parameters provided via `CYPHER`:
[code]
As you can see, the `name` and `index` properties are not set when the map is provided as a parameter. Using a map literal works.
[code]

[2021-05-27 08:49] jeeger commented on #1730
There also seems to be some internal state that's scrambled by these queries, as issuing the first query causes an error the first time, but runs successfully when run again.
[code]

[2021-05-27 12:10] YaphetKG commented on #1727
Hi @jeffreylovitz , that helped in making the query start from the bound node. Thanks much.

[2021-05-27 12:10] YaphetKG commented on #1727
closing this issue/.

[2021-05-27 12:10] #1727 closed

[2021-05-27 20:17] jeffreylovitz commented on #1730
Hi @jeeger,

Thanks for the report! This is indeed a bug (rather, 1 bug and 1 missing functionality). We'll have a fix released shortly!

[2021-05-29 07:36] chainhead opened #1732 "User name and password when running under Docker."
Which configuration file is to be edited and mounted when running RedisGraph in Docker to enable user name and password?

[2021-05-30 06:08] chayim commented on #1732
@chainhead Assuming you're using the redis-docker from [dockerhub](http://hub.docker.com/r/redislabs/redisgraph) it doesn't come with a configuration file. You can set a password by executing the following recipe using the redis-cli.  The [AUTH command](https://redis.io/commands/auth) supports a username/password combination.

[code]

[2021-05-30 06:13] chainhead commented on #1732
I was referring to [`redisgraph`](https://hub.docker.com/r/redislabs/redisgraph)

[2021-05-30 06:27] chayim commented on #1732
@chainhead As was I, sorry I could have been more clear. The instructions above are for the redisgraph docker, from dockerhub, at the link you sent.

[2021-05-30 14:14] chainhead commented on #1732
Well, in case of [`redis`](https://hub.docker.com/_/redis), one can build a new image with a `redis.conf` added to the base image of Redis. I was thinking, if this was possible with RedisGraph also. Apparently, not?

[2021-05-30 14:20] chayim commented on #1732
It is. I'm fact you can build off this image and add a CMD override if
you'd prefer that. Then, you could even mount the config from outside as a
volume mount.

On Sun., May 30, 2021, 17:14 mrchainhead, ***@***.***> wrote:

[2021-05-30 20:20] bsbodden opened #1735 "SET MUTATE command (`=+`) causes segfault in Redis"
[code]

I don't think we support the set-mutate variation, e.g. SET n += {...} but either way it shouldn't kill the Redis instance.
This is what I see on the CLI:

[code]

**ENV INFO**

[code]

**BUG REPORT**

[code]

[2021-05-31 08:00] gkorland commented on #1735
Which version of RedisGraph are you using? I see that you're not using an official version.
[code]

I just ran it locally and it didn't crash:
[code]

[2021-05-31 10:10] chainhead commented on #1732
So there is a `.conf` file for RedidGraph ? What should `CMD` override to?

[2021-05-31 14:41] bsbodden commented on #1735
Docker edge image for RedisGraph.

[2021-05-31 15:09] #1735 closed

[2021-06-01 08:27] swilly22 commented on #1370
Please see:
https://github.com/RedisGraph/redisgraph-py/issues/86

[2021-06-01 08:27] #1370 closed

[2021-06-01 08:47] swilly22 opened #1742 "redundant Conditional Traverse operation"
[code]

[2021-06-01 10:55] raphael10-collab commented on #425
@swilly22 If not partitioning is not going to be deployed in the near future, how about connecting local redisgraph databases to make a distributed graph or redisgraph databases?

[2021-06-04 19:06] sidenAlex opened #1752 "UNWIND -> MATCH Does not Maintain Order Integrity"
Example:

`UNWIND ['ID|1', 'ID|2', 'ID|3'] AS id MATCH q=(m:movie {ID:id})-[*0..1]->(n) RETURN m, COLLECT(NODES(q)), COLLECT(RELATIONSHIPS(q))`

Expected output; if matched, object(ID|1) , object(ID|2) , object(ID|3).
Actual Output; random order integrity

Also tried to manually enforce the ordering with an index;

`WITH ['ID|1', 'ID|2', 'ID|3'] AS num UNWIND range(0, size(num) - 1) as index MATCH

[2021-06-04 19:35] jeffreylovitz commented on #1752
Using a trivial data set, I could not reproduce this problem, but it might occur with more complex data.

I think you're applying your `ORDER BY` clause prematurely, try running the following:
[code]

[2021-06-04 19:51] sidenAlex commented on #1752
Hey this worked for us, thank you!

[2021-06-04 19:54] #1752 closed

[2021-06-05 18:34] #1730 closed

[2021-06-06 17:20] vinyll commented on #1307
To rephrase in shorter, copy paste the following:

[code]

[2021-06-07 07:21] jonaskello commented on #1455
@jeffreylovitz Any ETA on this one?

[2021-06-08 07:14] gkorland opened #1755 "handle RDB short read"

[2021-06-09 12:30] swilly22 opened #1759 "merge set delete merge"
[code]

[2021-06-09 20:56] jeffreylovitz commented on #1455
Hi @jonaskello,

Sorry for the late reply! I'm not sure when this will be delivered; it's not a high priority right now.

I expect we'll reach it in the next few months, but cannot make any guarantees.

[2021-06-11 05:57] jonaskello commented on #1455
@jeffreylovitz Thanks for the update! We're doing validation queries for graphs that would be really easy to do with correct behavior of `count()`. For now we need to resort to rather complex workarounds. So here's hoping that correct cypher behavior will soon become a priority again :-).

[2021-06-18 06:39] swilly22 opened #1778 "Slow test"
When running `make test`

TCK tests:
[code]

Are running slow, please see if we can improve

[2021-06-18 06:42] swilly22 opened #1779 "CondVarLenTraverseOptimizedConsume reduce allocator overhead"
`op_cond_var_len_traverse.c: CondVarLenTraverseOptimizedConsume`

Calls `AllNeighborsCtx_New` and `AllNeighborsCtx_Free` for every new input record,
we should allocate it once and just reset its internals, no need to constantly `alloc/free`.

[2021-06-18 06:49] swilly22 opened #1780 "atomic read/write on ARM and powerpc"
Need to identify areas in the code where we update a primitive value from one thread while it's possible that other threads are reading it,
 e.g. reader thread delegates a query to the writers pools, and checking the thread pool capacity while the main thread updates that capacity as a result of reconf.

on X86 this is OK, but on ARM and powerpc readers might see half-baked value.

[2021-06-19 06:14] swilly22 opened #1781 "Support index creation over multiple fields"
`CREATE INDEX ON :Person(first_name, last_name)`

[2021-06-20 18:42] filipecosta90 opened #1785 "Crash on `Path_Free`: variable_length_filter benchmark"
Raised due to CI benchmarks: https://app.circleci.com/pipelines/github/RedisGraph/RedisGraph/3289/workflows/bb9676f9-decc-4fba-95c3-0e6b072863c9/jobs/11960

This crash happens spuriously ( not always ) but we should be able to crash RG at least once using the following remote benchmark command:

[code]
redis logfile:
[code]

[2021-06-21 15:49] jeffreylovitz opened #1786 "Add alternative delete routines for nodes and implicit edges"
The optimization #1783 dramatically improves performance of deleting explicitly named edges, as in:
`MATCH ()-[e]->() DELETE e`
This optimization is applied when at most 4 edges are being deleted, and improves performance in testing from 670ms to 2ms.

We should replicate this optimization for the deletion of nodes and the implicit deletion of edges that have deleted nodes as an endpoint.

Additio

[2021-06-21 19:04] #1779 closed

[2021-06-21 19:04] #1781 closed

[2021-06-22 08:44] OfirMos commented on #1669
The issue is resolved by not allowing aggregate function calls to be nested withing maps.

This is the output when trying the above query:

127.0.0.1:6379> GRAPH.QUERY g “UNWIND [1,2,3] AS agg UNWIND [‘a’, ‘b’, ‘c’] AS key RETURN {sum: SUM(agg), key: key} AS map”
(error) RedisGraph does not allow aggregate function calls to be nested within maps. Aggregate functions should instead be called in a p

[2021-06-22 08:44] #1669 closed

[2021-06-22 11:13] OfirMos commented on #1635
Solved in the following commit:
commit 247d747e4abd3996aac1da718d2c609d22df0279
Author: Roi Lipman <swilly22@users.noreply.github.com>
Date:   Sun Apr 25 13:26:09 2021 +0300

    Runtime index utilisation (#1641)

    * WIP migrate search query composition from utilize_indices to a utility file

    * [WIP] runtime index query construction

    * resolve compile-time unknowns

    * entity functio

[2021-06-22 11:13] #1635 closed

[2021-06-22 17:44] #1648 closed

[2021-06-24 09:00] gkorland opened #1796 "Add REL_QUERY_MEM_CAPACITY relative to the DB size"
QUERY_MEM_CAPACITY = max memory * REL_QUERY_MEM_CAPACITY

[2021-06-24 18:26] nicols opened #1798 "RedisGraph crash when loading dump.rdb at startup"
The load of dump.rdb at redis startup started to crash after data was added to the graph
Before this the graph already contained some data and dump.rdb was loading correctly at redis server startup
Dump.rdb size went from from 4Mb to 20Mb

** Server logs before crash report **
[code]

**Crash report**

[code]

**Additional information**

1. docker image : redislabs/redisgraph:2.4.2
2. kubernetes 1

[2021-06-24 20:43] jeffreylovitz commented on #1798
Hi @nicols,

Would you be willing to share the dump.rdb files with me by email? I can look into this issue then.

Thank you!

[2021-06-25 08:49] nicols commented on #1798
Hi Jeffrey,

Thanks very much for your quick reaction and thanks in advance for anything you could find to help us identify the issue
I just sent you the two .rdb files by email

Kr

[2021-06-27 16:21] nathanmukena opened #1801 "Any plan to support the call subquery functionality?"
Neo4j supports the call {} (subquery) feature (https://neo4j.com/docs/cypher-manual/current/clauses/call-subquery/) which comes in very handy when writing complex queries. Is Redisgraph planning to support it as well?

[2021-06-28 14:33] nicols commented on #1798
Erratum : the actual RedisGraph docker image was 2.2.5 and not 2.4.2 as mentioned in the original post

The crash doesn't occur anymore after migrating to redislabs/redisgraph:2.4.2 : the "crashing" rdb file loads successfully with that version

[2021-06-28 14:33] #1798 closed

[2021-06-30 14:25] Mon0Man opened #1805 "Does redisGraph support Index seek ?"
neo4j doc: https://neo4j.com/docs/cypher-manual/current/execution-plans/operators/#query-plan-node-index-seek

![cypher-execution-plan-operators](https://user-images.githubusercontent.com/86112502/123977733-41a6d200-d98d-11eb-9923-c88c89d60600.png)

I created an Index on actor id: `GRAPH.QUERY test "CREATE INDEX ON :Actor(id)"`

[code]

Does this mean it has to scan though the entire index ? what

[2021-06-30 14:35] jeffreylovitz commented on #1805
Hi @Mon0Man,

RedisGraph has one `Index Scan` operation that performs the equivalent work of `Index Seek` and `Index Scan`. It's my understanding that the latter of these is used when a range of the index must be iterated over, and the former is

[2021-06-30 17:18] swilly22 commented on #1801
Hi @nathanmukena, I can see how handy this feature can be, but unfortunately it isn't on our roadmap at the moment.

[2021-07-01 03:58] Mon0Man commented on #1805
@jeffreylovitz, why the reopen ?

[2021-07-01 05:40] #1805 closed

[2021-07-02 04:23] talperetz opened #1808 "[NEW] redisgraph docker image for M1 macs"
[The official docker hub image](https://hub.docker.com/r/redislabs/redisgraph) is perfect for non M1 chips, but can't be used with the new M1 chips.

**Description of the feature**

Create another redisgraph image for the new M1 (arm64v8 architecture)

**Additional Info**
![CleanShot 2021-06-30 at 12 53 22@2x](https://user-images.githubusercontent.com/11588598/124220344-942dde80-dab2-11eb-8f60-5fa

[2021-07-02 20:54] #1785 closed

[2021-07-07 12:06] rafie commented on #1808
Please try `docker run -it redisfab/redisgraph:master-arm64v8-bionic`

[2021-07-08 16:09] warrenstephens opened #1818 "[CRASH] redis 6.2.3 and (to me) the HGET argv[2] looks funny -- redis issue #9187"
I was asked to open an issue over here based on a crash in redis 6.2.3 which was occurring via RedisGraph (running in my Airflow pipeline).

This is the redis issue: [https://github.com/redis/redis/issues/9187](https://github.com/redis/redis/issues/9187)

The problem seems to stem from some corrupted hash.
[code]

I have upgraded to RedisGraph 2.4.7 and the problem went away.

[2021-07-08 16:14] gkorland commented on #1818
Thanks for reporting, can you please add the full crash report?

[2021-07-08 17:47] warrenstephens commented on #1818
Sure.   @gkorland
[code]

[2021-07-09 18:16] talperetz commented on #1808
Seems promising. Will keep you posted if we experience issues.
Thanks for the quick solution 🙏🏽

[2021-07-09 18:58] warrenstephens commented on #1818
Another variation for the history books.  Not sure if it is the same issue or different -- but it looks different.

[code]

[2021-07-11 09:51] AviAvni opened #1821 "Switch MSB flag for multi relationships"
Currently relationships matrix contains the id of the relationship with MSB flag on when there is one relationship
in case of multiple relationships the value is pointer to array of relationships ids
This need to be changed so the MSB flag is on in multiple relationships

[2021-07-12 07:17] #1821 closed

[2021-07-15 12:39] swilly22 opened #1833 "Remove `MAINTAIN_TRANSPOSED_MATRICES`"
Deprecate support for `MAINTAIN_TRANSPOSED_MATRICES` always maintain the transposed matrix.

[2021-07-19 14:00] sidenAlex commented on #1638
Hello @swilly22 , I was hoping to circle back on this and related "token characters" eg,:

[code]

The stopwords and token characters have made it difficult for our usage of RedisSearch on RedisGraph. I am wondering if treating each of these items like normal words/letters is on the roadmap, and if so, the expected timeline for them?

Thank you all so much, you do excellent work.

[2021-07-23 17:10] FallingSnow commented on #1308
This still gonna make 2.4?

[2021-07-26 07:06] swilly22 opened #1839 "Pass query parameters as additional arguments to GRAPH.X command"
Currently query parameters are passed as part of the query:

[code]

We would like to remove patterers declaration from the actual query and have them specified as additional argument to the command:

[code]

[2021-07-26 13:47] jeffreylovitz opened #1840 "ResultSet simplification"
Currently, the ResultSet maintains an array that maps column indices to Record indices. When populating each row of the ResultSet, this mapping is used to populate the row out-of-order.

This task is to modify the Record mapping such that the N columns of the result set correspond to the first N values of the Record, so `memcpy` can be used instead of a for loop to populate the row.

A for loop ma

[2021-07-26 19:13] jeffreylovitz commented on #1308
@FallingSnow This is one of the soonest items on our roadmap, so I am hoping so!

[2021-07-27 15:22] dirkevertz opened #1843 "Order the results in a manner that the exact matches rank first?"
Does Redisgraph support a functionality to order the results in a manner that the exact matches rank first?
We are currently using CONTAINS in the WHERE clause. Is there any way to implement a weighting of the results like in this SQL statement:

SELECT word FROM words
WHERE word LIKE '%searchstring%'  – would be similar to CONTAINS in redisgraph
ORDER BY
   CASE WHEN word LIKE 'searchstring' THEN

[2021-07-28 02:27] Mon0Man opened #1845 "ORDER BY after RETURN crashes server on UNION query"
Hello, the following query crashes redis server.

[code]

If I remove `ORDER BY v.views DESC LIMIT 2`  it doesn't crash.

Thank you.

[2021-07-28 07:33] swilly22 commented on #1845
Hi @Mon0Man thanks for reporting,
Adding backtrack:
[code]

[2021-07-28 11:10] swilly22 commented on #1843
Hi @dirkevertz,
RedisGraph doesn't rank results based on filter matching "distance"

You might be able to use UNION to archive that:

[code]

[2021-07-28 18:31] Mon0Man opened #1847 "Changes to full text indexed properties not being propagated"
Hello, changes full text indexed properties not being propagated if single-property indexes is also created.

Step to reproduce:
[code]
I am running redislabs/redismod:edge docker image.

Thank you

[2021-07-28 23:35] jeffreylovitz commented on #1847
@Mon0Man Thanks for the report and the detailed steps to reproduce! I've written a fix for this bug at #1848.

[2021-07-31 07:42] swilly22 commented on #1847
Hi @Mon0Man, a fix been merged and should be available on our edge docker image `docker run -p 6379:6379 -it --rm redislabs/redisgraph:edge` can you please confirm ?

[2021-07-31 11:12] #1840 closed

[2021-07-31 11:13] #1833 closed

[2021-07-31 11:17] #1651 closed

[2021-07-31 11:20] swilly22 commented on #1529
done, read/writer thread (i)

[2021-07-31 11:20] #1529 closed

[2021-07-31 11:23] swilly22 commented on #1528
@AviAvni @OfirMos once the `undo-log` is done, we can simply send it over to the replica and apply the inverse of each operation:
e.g.
`MATCH ()-[e]->() DELETE (e)` will add `CREATE e` to the `undo-log` the inverse should be `DELETE e`

[2021-07-31 14:05] Mon0Man commented on #1847
hey @swilly22, I can confirm it is working as expected.
Thank you.

[2021-08-03 20:38] #1847 closed

[2021-08-04 05:15] #1845 closed

[2021-08-04 17:34] filipecosta90 opened #1857 "heavy write use-case ( 25 writes/sec + 75% reads/sec ) on cpu hotspots"
Some quick notes:
- Full [callgraph svg link](https://s3.amazonaws.com/benchmarks.redislabs/redisgraph/perf-tasks/v2.8.0/mixed-reads-writes/callgraph.svg)
- Full [flamegraph svg link](https://s3.amazonaws.com/benchmarks.redislabs/redisgraph/perf-tasks/v2.8.0/mixed-reads-writes/redis.svg)
- the majority of the calls to `GB_wait` come from `_populate_filter_matrix`, as seen in:
![image](https://user

[2021-08-05 11:52] filipecosta90 commented on #1857
@AviAvni @swilly22 here's the updated profile info from aa6f8b0c6b73022e6c3bbe8ec4feeb016fdf7793

- on this new benchmark the top hotspot appears as `_AR_EXP_EvaluateFunctionCall` with 8.3% on-cpu time, as seen in:

![image](https://user-images.githubusercontent.com/5832149/128345258-ae5d9854-a6df-4dba-86e5-54b5dbfd91ac.png)

- Full [callgraph svg link](https://s3.amazonaws.com/benchmarks.redislab

[2021-08-05 13:56] filipecosta90 commented on #1857
100% reads profile:

- Full [flamegraph svg link](https://s3.amazonaws.com/benchmarks.redislabs/redisgraph/perf-tasks/v2.8.0/mixed-reads-writes/flamegraph-reads.svg)

- Full [callgraph svg link](https://s3.amazonaws.com/benchmarks.redislabs/redisgraph/perf-tasks/v2.8.0/mixed-reads-writes/callgraph-reads.svg)

## top on cpu hotspots table
[code]

[2021-08-08 12:28] AviAvni opened #1861 "Fuzz test crash Redis"
[code]

after running this queries that was generated from fuzz test Redis crashed

[2021-08-08 12:35] #1857 closed

[2021-08-09 10:08] meena-uptycs commented on #440
Any progress on this ? What is the difference between this and shortestPath in https://github.com/RedisGraph/RedisGraph/blob/master/tests/flow/test_shortest_path.py

[2021-08-09 12:56] jeffreylovitz opened #1863 "Fuzz tester crash"
The following query:
[code]
Crashes in compilation with the backtrace:
[code]

[2021-08-09 13:54] jeffreylovitz commented on #440
Hi @meena-uptycs,

`shortestPath` has been implemented as described here - https://oss.redislabs.com/redisgraph/commands/#shortestpath.

Since this function is invoked with a known source and destination, it does not use Dijkstra's algorithm. It instead uses a push-pull BFS algorithm, the implementation of which can be found here - https://github.com/RedisGraph/RedisGraph/blob/master/src/algorithm

[2021-08-09 15:53] jeffreylovitz opened #1864 "Delta matrix updates cause bulk loader to hang indefinitely"
On previous GraphBLAS/RedisGraph versions, bulk loading the LDBC SNB dataset at scale factor 0.1 took ~30 seconds.

On the current master, it seems to hang indefinitely, though OpenMP can be seen to be constantly instantiating and killing threads during this "hang".

This can be reproduced by following the directions [here](https://github.com/RedisGraph/ldbc_snb_implementations/tree/redisgraph.uns

[2021-08-11 07:08] adnanmuttaleb opened #1866 "Ingesting data from kafka-connect plugin?"
Neo4j documentation mention [kafka-connect-neo4j ](https://neo4j.com/labs/kafka/4.0/kafka-connect/), which ingest data from Kafka topics directly into Neo4j via templated Cypher queries. Is there a similar way to ingest the data into RedisGraph? The template cypher queries should be the same, I think only the connection between kafka-connect and RedisGraph what will change.

[2021-08-11 07:58] gkorland commented on #1866
@adnanmuttaleb sorry but RedisGraph doesn't have such connector, but it shouldn't be too hard to adapt the Neo4J adapter or write a new one. We'll add it to the feature requests list.

[2021-08-11 08:01] #1864 closed

[2021-08-15 05:38] #1654 closed

[2021-08-16 19:14] jeffreylovitz opened #1874 "Incorrect NULL handling in CASE statements"
`NULL` compares incorrectly to itself in `CASE` statements:
[code]
In this context, `NULL` should match itself and the query should return 'was null'.

[2021-08-16 19:19] jeffreylovitz opened #1875 "TCK tests fail because Behave does not handle headerless tables"
The TCK introduces parameter lists as a set of rows with no header - https://github.com/RedisGraph/RedisGraph/blob/master/tests/tck/features/expressions/null/Null3.feature#L70-L72 .

Behave erroneously parses the first line as a header, causing the resulting queries to fail due to missing the first parameter. This issue is noted but not resolved in the repo's issues - https://github.com/behave/beh

[2021-08-16 19:26] jeffreylovitz opened #1876 "RedisGraph should support more granular DEBUG levels or scoped DEBUG segments"
There is a frequently a desire to compile RedisGraph with `DEBUG=1` for debugging with tools like GDB that require optimization level 0.

`DEBUG=1` entails significantly greater behavioral changes, however. In addition to enabling all assertions, it can now significantly change performance by syncing matrices on every update - https://github.com/RedisGraph/RedisGraph/blob/93f9ef660b4cb4432b31321ed

[2021-08-16 21:17] Sceat commented on #1065
was this closed by #1514 ?

[2021-08-16 21:50] jeffreylovitz commented on #1065
@Sceat It was, yes! We've documented support for the feature (which I believe is total) [here](https://oss.redis.com/redisgraph/datatypes/#map-projections).

Closing this issue now.

[2021-08-16 21:50] #1065 closed

[2021-08-18 08:43] Mrliu8023 opened #1879 "Wrong Statements in `Readme`"
It seems like missing `}` in `python example`.
![image](https://user-images.githubusercontent.com/24569795/129867236-5c3d4645-0557-43b3-8d3b-878940fc5856.png)

[2021-08-19 13:36] thelinuxlich commented on #425
+1

[2021-08-19 16:02] jeffreylovitz opened #1883 "Sorting by a function call on a projected alias produces incorrect results"
When the input to a function in an `ORDER BY` expression is a newly-created alias, ordering is not performed correctly:
[code]
The correct order is returned by the query variants:
[code]

[2021-08-19 20:56] gkorland commented on #1879
@Mrliu8023 thanks for pointing out

[2021-08-19 20:57] #1879 closed

[2021-08-24 05:58] nehz opened #1890 "Atomicity documentation"
Some documentation on atomic guarantees would be very helpful for users.

For example some clarification on:

- Is everything within a single query with any combination of CREATE/SET/DELETE/MERGE atomic?
- Does this cover queries with UNION or WITH, are the multiple queries executed as one unit
- Does this cover queries with list comprehensions, specifically all/any(... WHERE ...)
- What is the or

[2021-08-24 06:32] nehz opened #1891 "Crash when using path functions in SET"
Query:
[code]

Crash log:
[code]

[2021-08-24 07:08] swilly22 commented on #1891
Hi @nehz ,
Thank you for reporting!
I don't believe the query you've specified is valid, `SET` expects a graph entity (node/edge) and the `nodes` function returns an array.

Please use the following: `MATCH P=() UNWIND nodes(P) AS n SET n.v = n.v+1`

[2021-08-24 07:17] nehz commented on #1891
Thanks for the reply, even so, crashing redis seems a bit heavy for a invalid query?

[2021-08-24 08:35] gkorland commented on #1818
@warrenstephens do you still get this crash?

[2021-08-24 11:59] warrenstephens commented on #1818
@gkorland I have not run that Airflow pipeline in a few weeks, so I don't know.

[2021-08-25 05:34] #1891 closed

[2021-08-28 07:18] lucascassiano commented on #1647
hi, any updates on when `FOREACH` will be added to radisgraph?

[2021-08-31 10:50] gkorland opened #1900 "Commands TIMEOUT arguments are documented"
`GRAPH.QUERY` and `GRAPH.RO_QUERY` docs are not including TIMEOUT argument

[2021-08-31 18:16] jeffreylovitz opened #1903 "Query-level timeout should not be allowed to exceed default timeout"
Currently, the query-level timeout will override any default timeout. Since the default timeout is the mechanism by which we protect the server from long-running queries, this is a misbehavior - the query-level timeout should only be allowed to set values lower than the default.

[2021-09-01 06:01] #1900 closed

[2021-09-01 11:56] #1874 closed

[2021-09-01 19:32] swilly22 opened #1910 "cron timeout task should not free execution-plan"

[2021-09-02 15:00] jeffreylovitz opened #1912 "Assertion failure in shortestPath logic"
Using the LDBC SNB dataset at SF0.1, the query:
[code]
Fails the assertion at https://github.com/RedisGraph/RedisGraph/blob/master/src/arithmetic/path_funcs/path_funcs.c#L225 . The actual result is `GrB_NO_VALUE`.

`LAGraph_bfs_pushpull` believes it has resolved the destination node on its second iteration (level 2). There are no paths between these two nodes of 1 or 2 hops. The actual shortest pa

[2021-09-03 12:05] hector690 opened #1914 "[CRASH] redisgraph crashed"
redisgraph is crashed while executing the following command and crash report is attached

GRAPH.QUERY "roster" "CYPHER contacts=[RosterUser(msisdn=901, domain=d1, nick=n1, isBip=false), RosterUser(msisdn=902, domain=d2, nick=n2, isBip=true), RosterUser(msisdn=903, domain=d3, nick=n3, isBip=false), RosterUser(msisdn=904, domain=d4, nick=n4, isBip=true)] UNWIND $contacts AS c MERGE (u:user{msisdn:'9

[2021-09-03 19:50] swilly22 commented on #1914
Hi @hector690, thank you for reporting this,
Please note you're using an undefined function: `RosterUser` in your `contacts` parameter.
Obviously this shouldn't crash the server...

[2021-09-03 20:46] #1910 closed

[2021-09-04 19:01] #1914 closed

[2021-09-06 17:46] Kindrat commented on #1670
Why shards only? Scaling read slaves is also an option for HA

[2021-09-08 19:22] #1863 closed

[2021-09-09 07:59] daveb1976 commented on #599
Hi. We are still experiencing this issue regularly. We thought it might be down to headroom on the docker pod radiograph was running on, but we have just recreated the issue on a next-to-empty graph with loads of headroom.

Here you can see the problem:

<img width="864" alt="image" src="https://user-images.githubusercontent.com/218959/132646375-3db1cd46-7b0c-40a3-88d8-babc8892671c.png">

This is

[2021-09-10 04:57] techpanga opened #1920 "UNWIND returns only subset of the list from the array"
This query returns only 16 records where i have about 800. unwind is having unexpected behavior

MATCH (n:OrderDetails) unwind n.keywords as kw return kw,count(n)

[2021-09-10 05:19] techpanga opened #1921 "How close the cypher implementation to the Neo4J"
Hi All,

This is amazing concept and looking forward for the stable version of the RedisGraph for production ready.

I see good performance benefits by running in memory and persisting to disk using redis capabilities.

Could someone advise the production readiness of this module? How close the cypher implementation is towards the Neo4J?

I could not find the memory implementation of Neo4J and our

[2021-09-10 15:40] jeffreylovitz commented on #1920
Hi @techpanga,

Can you provide sample data to reproduce this issue?

[2021-09-11 15:23] techpanga commented on #1920
Hi @jeffreylovitz ,

Thanks for quick response. The issue seems to be related to with data loading,

I reloaded data with out newline characters in description attribute in the CREATE command and now it is able to present all. I am not sure about how the newline characters in the create command affected this.

Thanks again.

[2021-09-11 15:23] #1920 closed

[2021-09-12 06:36] #1875 closed

[2021-09-12 08:59] swilly22 commented on #599
@daveb1976 can you provide steps to recreate ?

[2021-09-12 12:19] swilly22 commented on #599
@daveb1976 I've been able to reproduce a fix should be available shortly

[2021-09-13 10:13] daveb1976 commented on #599
@swilly22 - this is awesome news - thank you very much.

[2021-09-13 10:26] swilly22 commented on #599
@daveb1976 fix just been merged, should be ~2hours before dockerhub is updated, would you be able to validate things on your end?

[2021-09-13 10:32] daveb1976 commented on #599
Yes, absolutely

[2021-09-13 14:07] daveb1976 commented on #599
Hi @swilly22. We're trying to test this and are now getting an immediate error with replication.

[code]

[2021-09-13 18:05] daveb1976 commented on #599
@swilly22

This looks really positive. It's the same load that was causing the `bgsave` hang repeatedly and has now completed without issues.
<img width="906" alt="image" src="https://user-images.githubusercontent.com/218959/133134016-780b2944-395f-492a-a069-c315921e724d.png">

I'll do some more testing on the replication side of things and raise another issue if necessary. But the `bgsave` issue

[2021-09-13 19:39] #1861 closed

[2021-09-13 19:45] swilly22 commented on #599
awesome, please feel free to close this issue when you feel comfortable, if there's an issue with the replication link let's handle that on a separated issue.

[2021-09-14 08:51] daveb1976 commented on #599
@swilly22, I don't think I have rights to close the issue I'm afraid. Happy to though.

[2021-09-14 10:42] daveb1976 opened #1937 "Error loading data from RDB (short read or EOF). Read performed by module 'graph' about type 'graphmeta' after reading '0'"
In the `latest` version of the docker instance (Digest: sha256:20607c7c46f48b6acf3ea2b455245fd83b6bb862133c439c81c0329da75bc0a8) we're getting an error with replication. The summary appears to be:

The full log is attached.

[replication_error.log](https://github.com/RedisGraph/RedisGraph/files/7161153/replication_error.log)

[2021-09-14 13:13] daveb1976 commented on #1937
I believe this issue can also be reproduced using a standard `bgsave`...

[2021-09-15 10:20] swilly22 commented on #1937
@daveb1976 can you please provide steps to reproduce ?

[2021-09-16 12:47] techpanga commented on #1297
What are all temporal functions supported or planning to support? OR do we have any alternative options/recommendations?

How about week, day of week etc.

duration.between(datetime({epochmillis:n.logTime}),date()).days<30
datetime({epochmillis:(n.logTime)}).week+1=datetime().week

[2021-09-16 20:10] #599 closed

[2021-09-16 20:33] swilly22 opened #1943 "RedisLabs -> Redis"
Update doc links from redislabs to redis, verify all links aren't broken

[2021-09-16 21:42] #1943 closed

[2021-09-17 21:17] SuzeShardlow opened #1946 ""Redis Labs" needs changing to "Redis" in clients.md"
https://oss.redis.com/redisgraph/clients/

[2021-09-18 13:15] techpanga opened #1948 "query with optional match with count in the return Bug Report added."
I used query with optional match with count in the return causing this bug.

=== REDIS BUG REPORT START: Cut & paste starting from here ===

1:M 18 Sep 2021 13:12:41.211 # Redis 6.2.4 crashed by signal: 11, si_code: 1

1:M 18 Sep 2021 13:12:41.211 # Accessing address: 0x150

1:M 18 Sep 2021 13:12:41.212 # Crashed running the instruction at: 0x7f708e202d6f

------ STACK TRACE ------

EIP:

/usr/lib

[2021-09-18 14:07] #1946 closed

[2021-09-18 14:31] techpanga opened #1949 "coalesce null issue - treats empty array as null - impact on unwind coalesce(arr,[]) as nn"
the following query supposed to return empty array [] from coalesce(null,n.arr3,[]) but returns null. This is possibly messing the end result of **unwind with coalesce**

match (n:Test) return n.arr,coalesce(null,n.arr3,[]) limit 5

Here is the Test nodes...
![image](https://user-images.githubusercontent.com/5012133/133892264-d0507f02-cd8d-4684-a625-2211d74b245c.png)

[2021-09-19 06:24] swilly22 commented on #1949
Hi @techpanga,
I've tested this on both our master branch and our latest version 2.8.4
and this is what I'm getting:

[code]

[2021-09-19 06:56] AviAvni commented on #1948
@techpanga  can you provide the query that cause this please?

[2021-09-23 08:32] Mrliu8023 opened #1956 "Question: How to get paths of two vertex(node)?"
A path like `A -IS_PART_OF->B-LOCATION_TO->C`, give vertex `A` and `C`, are there any way to find this path?

[2021-09-23 19:12] jeffreylovitz commented on #1956
Hi @Mrliu8023,

The general syntax you want is:
`MATCH p=(A)-[*]->(B) RETURN p`
This will find all paths of any length between vertices `A` and `C` and return them. (If using one of the [client libraries](https://oss.redis.com/redisgraph/clients/#currently-available-libraries) they will be returned with full node and edge details, `redis-cli` will only print IDs).

If you know that you want to mat

[2021-09-25 13:18] #1956 closed

[2021-09-26 02:27] Mrliu8023 commented on #1956
Thanks~

[2021-09-26 15:14] oranagra commented on #1818
I noticed in the redis ticket that this was run on Apple M1 chip. i wonder if RedisGraph was tested on it,

[2021-09-28 11:26] Mrliu8023 opened #1960 "Question: `pinyin` of `Chinese` text search"
A text like "jichusheshihuanjingkongdiaowenduxunjianyijcsshjkdwdxjy", Are there any way to query it by using wendu or wd?

[2021-09-28 11:27] Mrliu8023 commented on #1960
oh. sorry, This is RedisGraph...

[2021-09-28 11:27] #1960 closed

[2021-09-29 06:36] #1949 closed

[2021-10-02 03:09] nehz commented on #1890
Had a small dive into source code to answer some of these questions

1. Yes this seems to be the case, read queries are read locked until return and write queries are write locked for the operation
2. Yes, any Cypher AST with a "write" clause which mark it as a write quer

[2021-10-02 03:15] nehz opened #1965 "String function replace"
Any plans to support the replace() function for strings?
Thanks!

[2021-10-03 12:38] nehz opened #1967 "Is internal ids stable with AOF restore?"
It is mentioned that IDs are not immutable with deletes: https://oss.redis.com/redisgraph/result_structure/
But does restoring from AOF have the potential for moving IDs around, assuming no deletes have occurred?
I would assume yes as the ID allocation is deterministic and should be replicated with the exact same order, however, would be great to get some clarification.

Thanks!

[2021-10-04 05:53] swilly22 commented on #1967
Generally speaking I wouldn't recommend relying on internal IDs as the guarantees currently in-place might be subject to change
that said loading from AOF should maintain the original entity IDs, unless a random parameter was added to a query, e.g.
`UNWIND [0.3, 0.6] AS X WHERE X < random() CREATE ()`

[2021-10-04 05:54] swilly22 commented on #1965
@nehz, yeah, this shouldn't take too long,
May I ask what are you using RedisGraph for?

[2021-10-04 09:23] nehz commented on #1967
Thanks, that makes sense. Would there be a small performance penalty with using your own IDs vs internal IDs? And are there any helpers to make it easier (e.g AUTO INCREMENT in SQL) ?

[2021-10-04 09:23] #1967 closed

[2021-10-04 09:28] nehz commented on #1965
Building a calculation engine of sorts which uses Nodes as dependencies for calculations - fully versioned and immutable. One of the issues was that Node IDs won't be available in self-referential scenarios and I it needed to all happen in that one "commit"/version - so was thinking of using placeholders and replace with ID(node) during query execution.

Would like to take opportunity to thank you

[2021-10-04 09:34] swilly22 commented on #1967
Can you please provide an example query ?

[2021-10-04 10:58] nehz commented on #1967
This would be standard ID lookups, e.g:

`MATCH (n) WHERE ID(n) = {value} RETURN n`

Also I believe there is no way to enforce "unique" indexes ?

[2021-10-05 05:31] swilly22 commented on #1967
At the moment the index doesn't enforce uniqueness.
`MATCH (n) WHERE ID(n) = {value} RETURN n` should be extremely fast, the second option, using an index is the next best thing.

[2021-10-05 05:35] swilly22 commented on #1965
Thanks for sharing,
graph entity ID is available as soon as the entity is created, e.g.
`CREATE (a) WITH a MATCH (b) WHERE b.v = ID(a)`

[2021-10-05 10:01] nehz commented on #1967
What kind of performance penalty, very roughly, will be taken with `ID(n)` vs indexed `n.uid` ? Thanks!

[2021-10-05 10:03] swilly22 commented on #1967
roughly going from `O(1)` to `Log(n)`

[2021-10-05 10:04] nehz commented on #1965
Yup so I have a string "formula" which uses IDs as references e.g
`Node.formula = "[1] + [2]", e.g something like this:
`CREATE (a) SET a.formula = replace({formula}, {placeholder}, ID(a)) RETURN ID(a)`

[2021-10-05 12:13] swilly22 commented on #1965
I see, yeah this should work once we introduce the replace function, but you can also use string concatenation:
`CREATE (a) SET a.formula = "1 + " +  tostring(ID(a))" RETURN ID(a)`

[2021-10-06 07:23] AviAvni opened #1971 "Improve functions documentation"
Functions documentation in https://github.com/RedisGraph/RedisGraph/blob/master/docs/commands.md
missing syntax, parameters, examples

[2021-10-06 10:06] #1167 closed

[2021-10-06 10:12] swilly22 commented on #1965
`Replace` been introduced, should be available on the `edge` docker image shortly.
`docker run -p 6379:6379 -it --rm redislabs/redisgraph:edge`

[2021-10-06 10:12] #1965 closed

[2021-10-09 04:19] darionyaphet opened #1977 "RedisGraph-2.4.11 build from source failed"
Hi experts When I build from `RedisGraph-2.4.11` source code, seems report a error

[code]

Are there any third-party libraries missing? thanks a lot

[2021-10-09 04:29] jeffreylovitz commented on #1977
Hi @darionyaphet,

It looks like you need to pull the submodules:
[code]

[2021-10-09 06:50] darionyaphet commented on #1977
ok it work well thanks ~

[2021-10-09 06:50] #1977 closed

[2021-10-09 13:09] Mrliu8023 opened #1978 "Question： How to know a vertex which node it was saving in a redis-cluster?"

[2021-10-09 13:16] Mrliu8023 commented on #1978
By reading document, there is no message about cluster. Would you please tell me some information about the slot of a graph keys choose?
My english is so bad, hope you can understande my question...
Looking forward to your reply, thanks!

[2021-10-12 11:01] AviAvni opened #1980 "Crash when using index scan"
Steps to reproduce

[code]

Stacktrace
[code]

[2021-10-12 12:32] #1980 closed, assigned to AviAvni

[2021-10-12 20:14] axtonpitt opened #1984 "Slow where in query, All Node Scan required when filtering by ID in set?"
Hi there, I'm using redisgraph to fetch relationships on a dataset (278174067 nodes, 1B+ edges). I'm querying for a subgraph and all of its connections using something like:

[code]

But when I do a where in query like this, it causes a scan across all nodes:

[code]

Shouldn't the query planner filter nodes using the native ID index? Would this be different if I was using a label "id" and had an

[2021-10-13 14:44] jeffreylovitz opened #1989 "Fuzz test timeout on query"
Running or explaining the query:
[code]
Takes 26 seconds.

[2021-10-17 08:24] AviAvni opened #1995 "Index is not utilized"
When running this:
[code]

expected result:
[code]

the problem seems to be because of Cartesian product when trying to get the plan without optimization:
[code]

[2021-10-19 09:55] AviAvni opened #1999 "Fuzz test crash"
Fuzzer found crash in optimizeLabelScan when running
[code]
[code]

[2021-10-20 09:09] tmikus opened #2000 "[CRASH] Redis 6.2.6 with RedisGraph on Apple Silicon (Apple M1) crashes"
**Crash report**

Redis 6.2.6 (installed through homebrew) with RedisGraph (git sha: c9987460b1b49646d8f5468b1253634b1c841647) seems to be crashing when inserting a large number of nodes.
The crash happens consistently around the same point in our data. Due to the nature of the data, I can't share it, but I'm fairly confident this should be reprodusable with any data.

[code]

**Additional informa

[2021-10-20 12:16] swilly22 commented on #2000
Hi @tmikus
Rerunning this scenario on your end on a different architecture / OS e.g. Intel / Xenial will result in a crash ?

[2021-10-20 18:20] #13 closed, assigned to jeffreylovitz

[2021-10-20 18:21] swilly22 commented on #1646
The new create index syntax been merged into the `master` branch

[2021-10-20 18:21] #1646 closed

[2021-10-26 20:17] jeffreylovitz opened #2005 "Building match op tree fails in path with cycle and variable-length traversal"
Running the query:
[code]
Triggers the assertion failure:
[code]

[2021-10-28 06:54] axtonpitt opened #2011 "Slow query with two `where in` clauses"
Hi there,

I have two queries below, when I remove the second where clause its significantly faster (milliseconds vs seconds):

[code]

Is there any idea why this is the case, and how to achieve the same result faster (filtering the result set by the input)? I'm not sure what else to try.

Thanks in advance!

[2021-10-28 08:17] raphael10-collab opened #2012 "Question about RSAL License: how can I then use RedisGraph as GraphDB without using is as Database?"
I have a question about `RSAL License` applied to `RedisGraph`:

Here : https://redis.com/legal/licenses/
I read :
"Software protected by RSAL is designed to be used as part of an application. We want to help and encourage people to develop their own applications, but RSAL differentiates between a “database product” and all other applications. RSAL defines a database product as any of the followin

[2021-10-28 11:50] #2012 closed, assigned to nobody

[2021-10-29 06:27] #2000 closed, assigned to nobody

[2021-10-31 07:56] swilly22 commented on #1989
Suggesting to introduce `POW` algebraic operation similar to `MUL` when performing `A*A*...*A`

[2021-10-31 08:34] swilly22 commented on #1786
@jeffreylovitz please validate if this issue is still relavent now that we have Delta-Matrices

[2021-10-31 08:41] swilly22 commented on #1778
It seems like most of the time is spend within the parser.

[2021-10-31 08:43] swilly22 opened #2013 "GRAPH.INFO MEMORY"
Introduce a way to retrieve an estimation for how much memory a graph consumes.

[2021-10-31 08:47] #1759 closed

[2021-10-31 08:48] #1742 closed

[2021-10-31 08:49] #1717 closed

[2021-10-31 09:13] #1638 closed

[2021-11-01 07:53] #1999 closed

[2021-11-05 09:40] randomJoe211 opened #2018 "OOM: Running a MATCH statement with 1G LDBC-SNB data OOMs everytime"
Query:
[code]

Redis version: 6.2.5
RedisGraph commit ID: 69973de425095b506738c10718129ab4494641c8
Dataset: LDBC-SNB v0.3.3 sf1

Free memory is about 17G, but RedisGraph demands 154G for the query, so sure why... Please help. Thank you!

Error log:

[code]

[2021-11-05 09:46] randomJoe211 opened #2019 "Question about testing LDCB-SNB"
I tested RedisGraph on https://github.com/ldbc/ldbc_snb_interactive/blob/0.3.3/cypher/queries/interactive-complex-14.cypher, but RedisGraph does not support extract(). May I know how you wrote interactive-complex-14 to pass this test?

Interactive-complex-14 v0.3.4 changed a little bit, but RedisGraph still does not support reduce().

Redis version: 6.2.5
RedisGraph commit ID: 69973de
Dataset: LDB

[2021-11-05 17:49] jeffreylovitz commented on #2019
Hi @randomJoe211,

We haven't attempted to rewrite interactive-complex-14, so at this time RedisGraph does not support that particular test.

[2021-11-05 17:51] jeffreylovitz commented on #2018
Hi @randomJoe211,

I'm not sure why the memory consumption on this query is so high. There is a pending PR that modifies the `shortestPath` algorithm (#2016) to resolve a bug in the implementation. It is possible that will resolve the problem, otherwise, we will try to make time to look into this query soon.

[2021-11-07 09:15] p0xiao opened #2021 "Why delete node is very slowly, Can it be optimized？"
Hi @swilly22  @jeffreylovitz  @gkorland @DvirDukhan  , I found in the process of using, delete node is very slowly, and cpu load is very high (cpu can reach 2000%).

Server: 32c64g
Redis version: 6.0.9

Node total: 258805
Edge total: 248353

Xxx node total: 162
Xxx node id has created an index.

[code]

Is this normal? can it be optimized?

[2021-11-08 08:02] gkorland commented on #2021
Which version of RedisGraph are you using?

[2021-11-08 15:43] p0xiao commented on #2021
We using redisgraph v2.2.13.

[2021-11-08 15:52] p0xiao commented on #2021
Another question, `order by` clause is slowly too(eg: `order by updatedTime`, even if the index is added, the optimization effect is not achieved

[2021-11-08 15:59] jeffreylovitz commented on #2021
@p0xiao Are you able to upgrade to RedisGraph 2.8.4?

[2021-11-09 16:18] p0xiao commented on #2021
ok, i will try upgrade to 2.8.4+ for verify.

[2021-11-10 16:11] jeffreylovitz commented on #1617
On the latest version of RedisGraph, I'm unable to reproduce the issues described here.

I believe that the underlying problems have been solved, and am closing this ticket. @Rambatino if you think there are still errors here, feel free to reopen or make a new ticket!

[2021-11-10 16:11] #1617 closed

[2021-11-13 16:21] Mon0Man opened #2030 "toJSON breaks json string"
Hey!, I am storing json string on node property and have run into a problem; toJSON() modify the json string into invalid json.

Regular `RETURN` output: `"{\"twitter\":\"javed_twi\",\"instagram\":\"javed_ig\"}"`
`RETURN toJSON()` output: `\"{\"twitter\":\"javed_twi\",\"instagram\":\"javed_ig\"}\"`

As you can see it escape the beginning and ending double quotes. Maybe toJSON can check if `{` come

[2021-11-14 12:17] gkorland commented on #2030
How do you store the JSON in as an attribute?

[2021-11-14 12:35] Mon0Man commented on #2030
@gkorland
this is how I create:
`GRAPH.QUERY "grph" "CREATE (a:Actor {id: 100, social: '{\"twitter\":\"javed_twi\",\"instagram\":\"javed_ig\"}'})"`

if I try without the surrounding `'`:
`GRAPH.QUERY "grph" "CREATE (a:Actor {id: 100, social: {\"twitter\":\"javed_twi\",\"instagram\":\"javed_ig\"}})"`

it throw error:
[code]

[2021-11-14 14:04] AviAvni commented on #2030
toJSON is not converting json string to json object so when you run toJSON on object that contains string it surround it with quotes

[2021-11-15 07:15] swilly22 opened #2031 "Upgrade RediSearch version to 2.0.13"
[RediSearch 2.0.13](https://github.com/RediSearch/RediSearch/releases/tag/v2.0.13) fixes several bugs which might be relevant to us, please upgrade search on `master` `2.8` and `2.4`

[2021-11-15 09:24] randomJoe211 commented on #2019
Got it. Thank you for the reply, Jeff!

[2021-11-15 09:24] #2019 closed

[2021-11-16 10:57] #2031 closed

[2021-11-16 12:11] Mon0Man commented on #2030
maybe I think toJSON should have a check case for `"{` and not escape and replace `"` with `'`
maybe @jeffreylovitz can comment ?

Thanks.

[2021-11-16 21:14] jeffreylovitz commented on #2030
I have some qualms about checking if an input is valid JSON, as it would double the amount of work performed by this function - we can't assume that every input beginning with `{` is JSON. I don't view this function as performing casting, but instead producing a new output.

If in your case you are willing to assume that all strings enclosed with curly braces shouldn't be modified, you can do some

[2021-11-17 01:21] Mon0Man commented on #2030
@jeffreylovitz Thanks for the input, I completely understand the reasoning.
I am storing the data in an array now `[["twitter","javed_twi"],["instagram","javed_ig"]]`.

Thanks.

[2021-11-17 01:21] #2030 closed

[2021-11-17 08:38] ntreq commented on #2021
@jeffreylovitz Does the upgrade from 2.2.12 to 2.8.4+ also speed up relationships deletion? I'm facing the same issue with slow deletion when trying to restructure graph matching 800k nodes to delete one relation on each of them.

[2021-11-17 13:33] swilly22 opened #2036 "Static / Dynamic link RedisGraph.so with UnitTests"
Today we're compiling RedisGraph sources with each unit test executable,
switch to static or dynamic linking RedisGraph.SO with each executable, this should reduce compile time

[2021-11-17 14:18] gkorland commented on #2021
@ntreq yes it should help reduce the overhead of deleting an edge too.

[2021-11-21 09:06] #1701 closed

[2021-11-22 06:53] bionicles commented on #1430
Hi, @swilly22 @TensorTom @glebpom @simonprickett @gkorland,

Would you please be open minded to enable nested keys inside the nodes and edges?

This is literally the 1 thing that forces me to choose Arangodb over RedisGraph.

I want to use openCypher `match` in my new little health data interoperability CLI project but none of the openCypher databases seem to support JSON (to my knowledge).

As so

[2021-11-22 07:43] #2005 closed

[2021-11-23 20:26] benjaminlyng commented on #1228
Where is this on the roadmap? Also, when we get there will we be able to post changes to Redisstream, maybe by setting up a Gears function? Then you could make graphql subscriptions based on changes to the graph.

[2021-11-25 09:44] randomJoe211 opened #2044 "[Crash] Running a query against the LDBC-SNB-SF30 dataset caused Redis Crash with unknown reason"
OS: Ubuntu 20.04
Memory: 170G
Dataset: LDBC-SNB-SF30
Error log:
[code]

[2021-11-25 10:43] swilly22 commented on #2044
Hi @randomJoe211, thank you for reporting
we're aware of an issue in our `shortest path` implementation and are working on a [fix](https://github.com/RedisGraph/RedisGraph/pull/2016)

[2021-11-26 02:05] randomJoe211 commented on #2044
Thank you for the reply and for working on fixing the issue! 👍

[2021-11-26 21:23] TropicalPenguin opened #2045 "Replicating All Properties by Matched Alias in CREATE"
If I try creating a simple new test graph with the following command:

`GRAPH.QUERY test "CREATE (a)-[b:foo {x:1, y: 2}]->(c) RETURN a,b,c"`

I get back the following:
[code]

What if I then want to effectively rename the relation `foo` without explicitly naming its properties?

 I first tried the following, since I've seen this Cypher syntax elsewhere:
`GRAPH.QUERY test "MATCH (a)-[b]->(c) WHERE

[2021-11-29 20:16] jeffreylovitz commented on #2045
Hi @TropicalPenguin,

RedisGraph does not have support for this functionality right now, but it is a useful feature and should be trivial to add. I will attempt to resolve this in the next few days!

[2021-12-01 07:06] swilly22 opened #2052 "Variable overload"
`UNWIND [1,2] AS x UNWIND [3,4] AS x RETURN x`
do not allow `x` to be overloaded/overwritten

[2021-12-05 12:36] #2045 closed

[2021-12-05 12:40] swilly22 commented on #2045
@TropicalPenguin
Support for entity assignment just been merged into our `master` branch
e.g. `MATCH (a:A), (b:B) SET a=b`, `MATCH (a:A), (b:B) SET a += b`

[2021-12-07 11:10] narayanacharya6 opened #2057 "`redis-server` crashes when using `UNWIND`"
A minimal example to reproduce the issue:

[code]

Bug Report:
[code]

Am I using `UNWIND` correctly?

Using RedisGraph built from commit ID: `c7ec83ed` on `master`
`redis-server` version: `Redis server v=6.2.6 sha=00000000:0 malloc=libc bits=64 build=c6f3693d1aced7d9`
Run as: `redis-server --unixsocket /tmp/redis.sock --save "tmp.rdb" --appendonly no --maxmemory-policy allkeys-lru --loadmodule ./

[2021-12-07 12:05] swilly22 commented on #2057
Hi @narayanacharya6, the commit you've referred to is quite recent,
the stack trace (`Map_Clone`) doesn't make much sense,  I don't see where the `Map` data structure is used in the query.

I've tested your query sequence against the `edge` docker image which reflects current `master` branch
[code]

[code]

Would you mind verifying from your end?

[2021-12-07 12:12] narayanacharya6 commented on #2057
Yes, I cloned the repo last week and built the `.so` file.

![image](https://user-images.githubusercontent.com/6968565/145026855-e96a7a67-848c-44b5-af84-0759b112be15.png)

Any suggestions for how I can investigate this?

[2021-12-07 13:42] Amitgb14 opened #2058 "Unable to unload graph module"
We load graph module by updating redis.conf but after comment, this line or run unload it failed,

[code]

1) stop redis service
2) comment line in redis.conf
```# loadmodule /etc/redis/redisgraph-2.4.11.so```
3) start redis service and failed
redis.log
```# The RDB file contains AUX module data I can't load: no matching module 'graphdata'```

OR
[code]

[2021-12-08 06:14] narayanacharya6 commented on #2057
Hi @swilly22 , I updated my code to the latest commit on master - `7d550c74` and ran the same series of commands, `redis-server` crashed again. This time the bug report complains about `SI_CloneValue`.

Bug Report:
[code]

[2021-12-08 06:44] narayanacharya6 commented on #2057
Also, I ran the command sequence against the `edge` docker container and things work as expected.

My setup with macOS might be an issue here. I had to do some hacky business to build the RedisGraph project on macOS.

[2021-12-08 08:49] swilly22 commented on #2058
`# The RDB file contains AUX module data I can't load: no matching module 'graphdata'`
The RDB file (persistency) contains graph key(s), in case Redis is started without the Graph module and tries to load from RDB upon hitting an encoded graph key or AUX field related to Graph, it wouldn't know how to handle that and will fail.

`(error) ERR Error unloading module: the module exports one or more m

[2021-12-08 08:49] #2058 closed

[2021-12-08 17:15] mikhailredis opened #2061 "Prevent Crash when executed from gears `execute`"
Redis is crashing when executed from gears `execute`:
[code]

Gears:
[code]

From Discord: "meirs — Today at 2:42 AM
RedisGraph takes the execution to a background thread so its not possible to call it from gears execute function that expect to be synchronous. The crash by itself is a bug, RedisGraph should check for DENY_BLOCKING flag and not block the client (maybe return an error?). Bottom line

[2021-12-09 05:48] 0-5-blood-prince opened #2062 "List Attribute in a node"
Is there a way to store a List of Strings, Integers as an attribute of a node?  I saw some answers which suggested stringifying the List and storing them. Is that the only solution, If it is, is there a way to find a substring match while querying the node attribute.

[2021-12-09 08:18] swilly22 commented on #2062
`CREATE ({v:['a',1]})`
Creates a node with a list attribute containing both a string and a number.

[2021-12-09 08:40] swilly22 commented on #2057
@narayanacharya6 can you please expand on the hacky business ?

[2021-12-09 08:42] swilly22 commented on #2061
Hi @mikhailredis,
 Which version of RedisGraph are you running ?

[2021-12-09 09:18] narayanacharya6 commented on #2057
@swilly22 I ran into a few issues with running `make` directly. From skimming through the README, I understood that there will be a few things I might need to do differently because I was on macOS. Below is a list of things, from memory, I did to get things working. I should add that I am pretty new to building C/C++ projects, so please let me know if I could have done things better.

1. `git clon

[2021-12-09 15:36] mikhailredis commented on #2061
@swilly22, I have used the latest versions:

[code]

[2021-12-09 21:29] swilly22 commented on #2061
@mikhailredis are you using docker to run the server ?

[2021-12-09 21:49] mikhailredis commented on #2061
@swilly22, yes I do. I used custom docker builds and tested on the `redismod`.

[2021-12-11 19:10] TropicalPenguin commented on #2045
This is awesome; thanks for the rapid implementation! :1st_place_medal:

[2021-12-12 14:35] swilly22 commented on #2061
I see, would you mind verify if this issue exists on our `edge` image ?
`docker run -p 6379:6379 -it --rm redislabs/redisgraph:edge`

[2021-12-13 02:59] mikhailredis commented on #2061
@swilly22, The `edge` image works as expected, only the `latest` is affected.

[2021-12-13 07:13] swilly22 commented on #2061
Yeah, we've fixed this issue but have yet to officially release it

[2021-12-13 14:13] mikhailredis commented on #2061
@swilly22, thank you for the quick turnaround.

[2021-12-13 14:13] #2061 closed

[2021-12-14 02:31] DeoLeung opened #2065 "ERR RedisGraph module is currently replicating"
[code]
hi, I have a standalone redis graph which stucking into replicating, is there a way to resume it to be usable?
I tried restart it but it's still stucking

this happens after a redis crash, normal redis is still functional, just the redis graph part is not usable

[2021-12-14 07:44] swilly22 commented on #2065
Hi @DeoLeung,
Can you please share some additional information?
RedisGraph version, Redis cluster configuration, Redis version
Thank you

[2021-12-14 13:23] DeoLeung commented on #2065
I'm using the official image
[code]
I keep the RDB, if needed, I can extract other information as well

[2021-12-15 02:29] DeoLeung commented on #2065
more information, the redis was oom and killed by system, not sure whether the ttl policy causes the problem

[2021-12-15 07:22] swilly22 commented on #2065
it might be that the RDB got corrupted, will you be able to share it with?

[2021-12-16 03:33] DeoLeung commented on #2065
@swilly22 I truncate it (delete keys `*` in all the dbs, except in index 0, I delete keys by explicit names), some strange behavior
1. the `permission` graph vanished
2. manually called `save` could crash, but clean other db first works
[dump.rdb.zip](https://github.com/RedisGraph/RedisGraph/files/7724367/dump.rdb.zip)

[2021-12-16 04:19] abc123000111 opened #2066 "com.redislabs.redisgraph.exceptions.JRedisGraphException is reported when executing the Cypher query containing XOR"
Hello, I discovered that when I executed the following Cypher query, a database error occurred:

MATCH (n0) WHERE (n0.k0 > 0 XOR n0.k0 > 0) RETURN n0

Exception in thread "main" com.redislabs.redisgraph.exceptions.JRedisGraphException: redis.clients.jedis.exceptions.JedisDataException: Type mismatch: expected String but was Integer
	at com.redislabs.redisgraph.impl.api.ContextedRedisGraph.sendQuer

[2021-12-16 12:00] abc123000111 opened #2068 "redis.clients.jedis.exceptions.JedisConnectionException is reported when executing the Cypher queries."
Hello, I discovered that when I executed the queries in the attached java file, an exception occurred:
[redisgraph.zip](https://github.com/RedisGraph/RedisGraph/files/7733405/redisgraph.zip)

**Exception in thread "main" redis.clients.jedis.exceptions.JedisConnectionException: Unexpected end of stream.**
	at redis.clients.jedis.util.RedisInputStream.ensureFill(RedisInputStream.java:202)
	at redis.

[2021-12-16 12:26] abc123000111 commented on #2066
For example, here is the whole node information in the graph:

Record{values=[Node{labels=[L2], id=0, propertyMap={}}]}
Record{values=[Node{labels=[L4], id=1, propertyMap={k28=Property{name='k28', value=false}}}]}
Record{values=[Node{labels=[L0], id=2, propertyMap={k5=Property{name='k5', value=}}}]}
Record{values=[Node{labels=[L3], id=3, propertyMap={k22=Property{name='k22', value=true}, k21=Prope

[2021-12-16 15:00] haladynkamil opened #2069 "Redisgraph query speed slows down in time."
Hello,

Im using python to loop over 800k node indexes.
Every time i take index (which is x.name in my case) i query the graph with more or less this type of query:

`"GRAPH.QUERY" "XXX" "MATCH (x:something)-[y:something2]->(z:something3)-[q:something4]->(e:something5)-[v:something6]->(:gene_symbol) WHERE y.type='something_else' AND x.name='701404' RETURN x.name, id(y), id(q), id(v)"`

Then i hit

[2021-12-16 15:19] swilly22 commented on #2069
Hi @haladynkamil, can you please share the out of
[code]

In addition let me suggest switching to [parametrized query](https://oss.redis.com/redisgraph/cypher_support/#parameters)
Lastly you should be able to reuse your graph object to issue more than one query, its a bit of a waste to create a new Graph object for each query you send.

[2021-12-16 16:02] haladynkamil commented on #2069
First of all sorry for chaning types of relations and nodes, had to check if its sensitive data.

 "GRAPH.EXPLAIN" "TestDB" "MATCH (x:variant_id)-[y:has_allele]->(z:allele_id)-[q:from_gene]->(e:gene_id)-[v:has_symbol]->(:gene_symbol) WHERE y.type='from_clin var' AND x.name='701404' RETURN x.name, id(y), id(q), id(v)"

1) "Results"
2) "    Project"
3) "        Conditional Traverse | (e:gene_id)-[v:

[2021-12-17 07:07] swilly22 commented on #2069
no worries, each result generated by the database contains a statistics section, this includes execution time, can you please share and track internal execution time and compare it to your end to end (client) time?
I want to understand if the increase in processing time is at the DB or client end, thanks!

[2021-12-17 08:36] dblife1024 opened #2071 "BGREWRITEAOF has wrong result on redisgraph module"
hi,dear redisgrapher, I found a strange problem.

The steps  as follows

1、docker run -p 6379:6379 --name=redisgraph -v /data1/redisgraph:/data redislabs/redisgraph -d
2、set appendonly to yes
[code]
3、set aof-use-rdb-preamble to no
[code]
4、set key to redis
[code]
[code]
**5、BGREWRITEAOF
However, my AOF file does not have a  key that belong to redisgraph**
[code]

[2021-12-17 09:11] haladynkamil commented on #2069
@swilly22
So what i did is that i've printed execution times of single queries in the loop of 860k `x.name`. When I started the script and i got around 300 cmd/s my execution times were around 0.5 to 1.2 ms per query. It's a little bit longer (10 times longer) than exections in RedisInsight CLI but i belive it is due to python library nature. However after a short period of time i can see that onc

[2021-12-17 09:34] haladynkamil commented on #2069
Okay so those 20ms+ queries are that long due to the fact that result has to return 15k+ relations. But that doesnt change the fact that it slows down quering over time

[2021-12-17 16:14] gkorland commented on #2068
Moved: https://github.com/RedisGraph/JRedisGraph/issues/136

[2021-12-17 21:29] TropicalPenguin opened #2072 "Protocol Error with CRLF in Property Contents"
In the course of trying to find a workaround for https://github.com/gomodule/redigo/issues/587 (after updating redisgraph from a457762e to 7d550c74, though this may be coincidental), I found that redis-cli would reliably fail with the following:

[code]

There's no protocol error (with redis-cli, at least) when using a plain LF. It's just with CRLF.

This also seems to be peculiar to graph data. R

[2021-12-18 08:02] swilly22 commented on #2069
Thank you for this information, one thing I believe I'm missing is RedisGraph reported internal execution-time, it is part of the result-set statistics returned for every query, can you please share this as well ?

[2021-12-18 08:03] swilly22 commented on #2065
Thank you for sharing the RDB file, we will try to load it on our end and report back.

[2021-12-19 07:48] swilly22 commented on #2071
Hi @dblife1024

When disabling `aof-use-rdb-preamble` and performing AOF rewrite,
RedisGraph is asked to create a command (later to be replayed) which will create the graph from scratch, this isn't really an option for large graphs, or graphs with indices.

I believe that the assumption is: if AOF persistency is enable when Graph is used then `aof-use-rdb-preamble` is set to `yes`.

[2021-12-19 21:16] suityou01 opened #2074 "Is it possible to get instructions for compiling for Arm processor?"
I have tried cross compiling to arm/v7 processor but cannot get it to work.

Is it possible to complile for arm? How?

[2021-12-20 07:05] swilly22 commented on #2074
@chayim can you please assist ?

[2021-12-20 12:19] thebpmgroup commented on #2074
I have been able to compile and launch the dll from

[code]

On arm, following the instructions in the guide. I was not so lucky with debian/buster

[2021-12-21 18:36] jeffreylovitz commented on #2072
Thanks for the report, @TropicalPenguin!

I'm looking into this issue, and will report on my findings soon.

[2021-12-22 07:00] #2072 closed

[2021-12-22 14:08] #2066 closed

[2021-12-22 17:48] TropicalPenguin commented on #2072
Superb; this seems to automatically resolve https://github.com/gomodule/redigo/issues/587; thanks!

Though it seems - unsurprisingly, I suppose - I must be careful with changes on master; some commit(s) - I'd guess 84df9359ab5e45a67dfb1aa305b44a8901902036 - introduced _after_ this PR cause redis startup to abort loading existing graph data :sweat_smile:, just FYI.

[code]

[2021-12-22 17:49] jeffreylovitz commented on #2072
Oh, that definitely shouldn't happen! Would you be able to share the RDB (and the version/commit it was built from) with us?

We should be able to resolve this.

[2021-12-22 18:12] TropicalPenguin commented on #2072
Hmmm; if I backup my current /var/lib/redis/dump.rdb somewhere, reload redis, and scrub some of the personally-identifying information from the live db, and can still reproduce this on one of those commits, would the resulting .rdb be sufficient?

Not sure I've a clear record of which redisgraph commit was used to build it, but the server log at least says:
[code]

[2021-12-22 18:18] jeffreylovitz commented on #2072
That would definitely be sufficient. The backtrace says that the failure occurred while loading the graph schema, so it may even be reproducible if you delete all nodes and edges from your graph.

[2021-12-23 16:22] ChenDan29 opened #2082 "How is RedisGraph high availability implemented"
How does RedisGraph achieve high availability

[2021-12-23 16:23] ChenDan29 opened #2083 "Why doesn't RedisGraph support sharding"
Why doesn't RedisGraph support sharding

[2021-12-23 19:38] LiorKogan commented on #2082
You can read about Redis Sentinel here: https://redis.io/topics/sentinel
Redis Sentinel is the official high availability solution for Redis.

[2021-12-23 19:38] #2082 closed

[2021-12-23 20:09] LiorKogan commented on #2083
RedisGraph aims to be the fastest memory-first Property Graph database.
RedisGraph is also very memory efficient (it used compressed sparse matrices to store the graph adjacency) so larger graphs can fit the available memory.
Shard-based communication introduces network latency. When superfast performance is a major consideration, sharding is something you would prefer to avoid.

[2021-12-23 20:09] #2083 closed

[2021-12-23 20:15] TropicalPenguin opened #2084 "Error loading data from RDB as of "Update master from 2.8.7""
Following from the discussion in https://github.com/RedisGraph/RedisGraph/issues/2072, Redis fails to start given [the attached RDB](https://github.com/RedisGraph/RedisGraph/files/7771166/g1.zip), as of yesterday's redisgraph commit 84df9359ab5e45a67dfb1aa305b44a8901902036 (whereas using the redisgraph.so created from one commit before, bbdc667599b981d800745848e2bc72111f20fa14, it loads just fine)

[2021-12-23 20:16] TropicalPenguin commented on #2072
Thanks @jeffreylovitz; scrubbed and uploaded in the above.

[2021-12-23 20:46] alexandergunnarson commented on #1312
Resurrecting this thread.

@CatalinAdlerDF — I don't think automatic GPU support is possible. AFAIK it's a fundamentally different way of working with data, and the data has to either already be in GPU memory or else shipped to the GPU from RAM. FWIW, In addition to SuiteParse, there's also a GPU-based GraphBLAS implementation [here](https://github.com/gunrock/graphblast) called GraphBLAST.

There

[2021-12-26 06:54] swilly22 commented on #2084
@TropicalPenguin, is it possible that the RDB you're trying to load was created by a recent version of our `master` branch?

[2021-12-26 07:10] TropicalPenguin commented on #2084
I can certainly say that it was from `master` branch. I think it was re-created within the last five months.

[2021-12-26 12:18] Mon0Man opened #2086 "size() Type mismatch for getting string length"
Hey! I notice in the docs there is size() function for both String functions and List functions, however size( ) only works for list.
I run `RETURN size('hello world')` and get `Type mismatch: expected List but was String`.

using the latest update.

[2021-12-26 14:16] swilly22 commented on #2086
Hi @Mon0Man,
Which version of RedisGraph are you using?

Running against RedisGraph 2.8.6
`docker run -p 6379:6379 -it --rm redislabs/redisgraph:2.8.6`

[code]

[2021-12-26 17:22] Mon0Man commented on #2086
I am using redislabs/redismod:edge docker image, I have rebuilt with new image and its working. Sorry for that.
Thanks!

[2021-12-26 17:23] #2086 closed

[2021-12-27 06:57] swilly22 commented on #2084
Alright, in the past month or so we've made a few changes to our encoder/decoder on `master` which will cause a failure when loading an RDB generated by a fairly recent version of master by the current version of the branch, we're truly sorry about that and are trying not to reach this situation.

[2021-12-27 07:40] TropicalPenguin commented on #2084
Currently I'm not in a situation where this is a big deal or much of a bottleneck. So, happy for you to treat with however much or little priority as you think necessary.

I'll try to plan some redundancy so that such changes can't be too much of a headache for me in the future.

[2022-01-03 16:48] cris88 commented on #274
Hello @K-Jo. Do you have any additional updates regarding support for TinkerPop/Gremlin API?

[2022-01-04 05:08] jgaskins opened #2090 "Redis server crashes when `MATCH`ing a node engages an index to search for a value that is a RediSearch stop word"
I'm using the current RedisGraph `master` branch built from source on macOS Monterey 12.1 loaded into the latest Redis server release via Homebrew and it crashes reliably, regardless of whether the DB is fully populated or brand new. I also tested when RedisGraph is the only module loaded as well as with RediSearch, RedisTimeSeries, and RedisJSON also loaded.

I can also reproduce it using the `re

[2022-01-04 08:47] swilly22 commented on #2090
Hi @jgaskins, we've identified the issue and should have a fix within the next couple of days,
I'll update here once it is available.
Thank you!

[2022-01-05 03:29] ChandlerBent opened #2091 "return result is empty when count Node/Relationship with where"
RedisGraph version: 2.8.7

[code]

[code]
This is OK.

[code]

[code]
Wrong. It should be return [[0]]

If the relationship is exists, it can return [[1]].
The example is count relationship. Node also has this problem.

[2022-01-05 08:01] swilly22 commented on #2091
Hi @ChandlerBent, thank you for brining this to our attention, this is a known issue which we hope to address within the next couple of days.

[2022-01-05 09:14] #2084 closed

[2022-01-05 09:15] #2071 closed

[2022-01-05 09:21] #2021 closed

[2022-01-05 09:23] swilly22 commented on #2018
Duplicate #2044

[2022-01-05 09:29] swilly22 commented on #1989
Consider adding a config for max depth of a traversal

[2022-01-05 09:33] #1978 closed

[2022-01-05 09:38] swilly22 commented on #1937
@daveb1976, is the issue still persists ? will you be able to share steps to reproduce ?

[2022-01-05 12:36] AviAvni commented on #1713
@Rambatino sorry it took a lot of time to response
this is a very complex query and I think it can be simplified to achieve the results, have better performance and be more readable
can you please share what is the purpose of your query?

[2022-01-05 14:23] Rambatino commented on #1713
Gosh i can't even remember now! Sorry :D

[2022-01-05 18:55] #1713 closed

[2022-01-07 14:21] styk-tv commented on #430
@stevencox it's been a long time but I was just revisiting this setup and remembered you asked so will post here just in case anyone else is looking.  I found an easy way to use bitnami redis chart with two small additions. Not touching main chart at all but simply populating required values.  Below is a diff between my values.yaml file and original helm/values.yaml maintained by bitnami.

[code]

[2022-01-10 19:24] jer-0 opened #2095 "Weird issue where working query give wrong result"
Hello, I am using nodejs to query redis graph (tried both node-redis, ioredis). I have many queries that are working and returns correct results, but then after couple of days one random query started giving weird and random results.  If I reformat the query (add extra space or new line) or restart redis, the query works again. Then after couple of days another query started have the same problem.

[2022-01-11 06:40] swilly22 commented on #2095
Did you encounter an error reply right before receiving random results, e.g. Qi encountered an error Qi+1 got random results?

Once you start receiving random results is this behavior persistent, meaning: all following queries generate meaningless results or is it just one specific query ? just to be clear I assume that you have several different queries in your system, do they all generate random

[2022-01-11 13:28] Mon0Man commented on #2095
Hey @swilly22, I do not get any error reply nor error in logs. Only one specific query seem to have this problem at a single time, but a random query.

eg. I have a dynamic query: `MATCH (v:Video) WHERE v.id = '${id}'` that match video from id. Say I have thousands of videos, a random one will start to return random results, and it will be specific to that query, like: `MATCH (v:Video) WHERE v.id

[2022-01-11 14:09] swilly22 commented on #2095
So the random results you're getting for the query `MATCH (v:Video) WHERE v.id = '${id}'`
are still `Video` entities but just ones that do not match the specified `id` ?
or is it that your getting results of a different type, for example an `Actor` node is returned

[2022-01-11 14:34] Mon0Man commented on #2095
@swilly22, the result is sometime undefined, random `Video` node that doesn't match the id or sometime a list of `Video` entities. This is not the only type of query that will give random results, l have a query that will get a list of `Videos` sorted by latest that one time stared giving out random results.

[2022-01-12 07:29] swilly22 commented on #2095
Can you please share the execution-plan of these queries? (using GRAPH.EXPLAIN) command
can you please provide the `id` used when getting these random results?

[2022-01-12 09:39] #1549 closed

[2022-01-12 09:42] #1546 closed

[2022-01-12 09:43] #1533 closed

[2022-01-12 09:44] #1530 closed

[2022-01-12 09:45] #1520 closed

[2022-01-12 09:46] #1505 closed

[2022-01-12 09:48] swilly22 commented on #1500
@chayim can you advise ?

[2022-01-12 09:49] swilly22 commented on #1493
I was able to crash this on a recent version, using `GRAPH.PROFILE`

[2022-01-12 09:54] LiorKogan commented on #1921
RedisGraph is production-ready and used in production by many companies and organizations. Many are using RedisGraph in high-availability configurations (using [Redis Sentinel](https://redis.io/topics/sentinel) or [other configurations](https://docs.redis.com/latest/rs/concepts/high-availability/) on Redis Enterprise).

RedisGraph follows the Cypher query language reference, but the coverage, whil

[2022-01-12 09:54] #1921 closed

[2022-01-12 09:59] swilly22 opened #2098 "Add support for the keys function"
`keys` should return a list of strings one for every key in a given map, edge, node object
e.g.
[code]

[2022-01-13 07:11] #1479 closed

[2022-01-13 07:14] #1459 closed

[2022-01-13 07:25] swilly22 commented on #1445
From GraphBLAS CMakeLists.txt file:

[code]

[2022-01-13 07:25] #1445 closed

[2022-01-13 07:26] swilly22 commented on #1443
[code]

[2022-01-13 07:26] #1443 closed

[2022-01-13 07:27] swilly22 commented on #1443
@jeffreylovitz do you know which PR resolved this issue?
Do we have a test(s) covering this "usecase" ?

[2022-01-13 07:29] #1588 closed

[2022-01-13 07:31] swilly22 commented on #1441
[code]

[2022-01-13 07:37] #2098 closed

[2022-01-13 07:41] swilly22 commented on #1436
[code]

[2022-01-13 07:41] #1436 closed

[2022-01-13 07:44] #1413 closed

[2022-01-13 07:51] swilly22 commented on #1374
[code]

[2022-01-13 07:51] #1374 closed

[2022-01-13 07:51] swilly22 commented on #1407
Should be resolved by #2056

[2022-01-13 08:01] swilly22 commented on #1353
should be resolved now by delta matrix

[2022-01-13 08:01] #1353 closed

[2022-01-13 08:03] #1351 closed

[2022-01-13 08:11] swilly22 commented on #1314
We no longer use the `writers-lock`
moreover whenever a writer is ready to write it acquires the GIL first, after which it needs to acquire the RWLock.

[2022-01-13 08:11] #1314 closed

[2022-01-13 08:12] swilly22 commented on #1308
pattern comprehension been merged to our `master` branch.

[2022-01-13 08:12] #1308 closed

[2022-01-13 08:24] swilly22 commented on #1296
Issue resolved.

[2022-01-13 08:24] #1296 closed

[2022-01-13 08:30] #568 closed

[2022-01-13 08:35] swilly22 commented on #433
List of implemented functions can be found in the [documentation](https://oss.redis.com/redisgraph/commands/#functions)

[2022-01-13 08:35] #433 closed

[2022-01-13 08:39] #440 closed

[2022-01-13 10:19] pzac opened #2100 "apple"

[2022-01-13 10:19] #2100 closed

[2022-01-13 15:43] alexandergunnarson commented on #1312
Actually, I talked with @DrTimothyAldenDavis briefly and he mentioned the following [here](https://github.com/DrTimothyAldenDavis/SuiteSparse/issues/116):

Should be good news for you @CatalinAdlerDF!

[2022-01-14 06:36] DeoLeung opened #2103 "algo.BFS supports aggregation on properties"
Hi,

I'm trying to use `RedisGraph` to solve a problem like this:
I have node(station) with label poi and property name and relation(connected stations) with label link and property distance
I want to search for stations connected to current station within distance of 6000
currently I can do it with
[code]
which seems to do a full scan

I found bfs is implemented, so I wonder whether we can suppor

[2022-01-14 21:56] jeffreylovitz commented on #1443
This was resolved by https://github.com/RedisGraph/RedisGraph/pull/1495.
This PR introduced a test on:
[code]
Which I believe is the same case as the initial issue depicts.

[2022-01-15 01:48] Mon0Man commented on #2095
@swilly22 sorry for late reply, I was waiting for a query to start return random results.

Query that started to returns results:
[code]
as you can see every time I run the same query, the results varies.

Working query (same query as above but different id):
[code]

Same query at first one that is failing, but I added a extra space between `(v:Video)  WHERE`:
[code]
As you can see if I reformat t

[2022-01-17 08:08] swilly22 commented on #2095
This is a clear indication to a possible bug in RedisGraph query cache, from the first example we can see the cache returns different execution-plan(s) for your query, once an extra space is introduce the new cache key is introduced,

Which version of RedisGraph are you using and what hardware are you running on?

Thanks!

[2022-01-17 12:27] Mon0Man commented on #2095
@swilly22,

OS: Linux 5.4 Ubuntu 20.04.1 LTS (Focal Fossa)
CPU: x64 Intel(R) Xeon(R) Gold 6226R CPU @ 2.90GHz
Memory: 552.76 MB / 1.94 GB
Container: Yes
Shell: 5.0.17 - /bin/bash

docker: redislabs/redismod:edge, it doesn't say which RedisGraph version is in the docker build. I rebuilt 9 days ago

[2022-01-17 12:37] swilly22 commented on #2095
thanks, I'll look into, although the hardware should be atomic for reading and writing to native types

[2022-01-17 13:12] Mon0Man commented on #2095
@swilly22, sorry I don't understand what you mean by " atomic for reading and writing to native types". I am running on vps.

[2022-01-17 13:41] #573 closed

[2022-01-18 19:23] ivancea commented on #1646
Hi,
About the FOR syntax, is it already working? I'm trying it in a redisgraph 2.8.7 (docker), but it throws the following error:
[code]

While the old syntax works:
[code]

[2022-01-18 20:52] jeffreylovitz commented on #1646
Hi @ivancea,

Would you share the output of `info modules`?

Locally, v2.8.7 supports both syntaxes for me:
[code]

[2022-01-18 23:00] ivancea commented on #1646
Hi, thanks for answering @jeffreylovitz:

### `info modules`
[code]
### Redis startup log
[code]

I tried it launching a simple docker with `docker run --rm -it redislabs/redisgraph:2.8.7`, and then executing:
[code]

I'm not sure where the problem may be